.idea
.DS_Store
phpstan-baseline.neon
vendor
runtime
local
dist
simplesaml
config/config.json
config/config.*.json
!config/config.template.json
!config/config.template_singlesite.json
config/drupal_civicrm.json
config/discourse.json
config/config_tests.json
config/config_tests_yfj.json
config/DEBUG
config/update-private.key
config/latex-replaces.php
web/js/bower
assets/local/
tests/_output/*
tests/Support/_generated/*
node_modules/
npm-debug.log
/web/updates/
/web/assets/*
components/fpdi
