.idea
.DS_Store
phpstan-baseline.neon
vendor
runtime
local
dist
simplesaml
web/js/bower
assets/local/
tests/_output/*
tests/Support/_generated/*
node_modules/
npm-debug.log
/web/updates/
/web/assets/*
components/fpdi
.phpunit.result.cache
