.idea
.pnpm-store
.DS_Store
phpstan-baseline.neon
vendor
runtime
local
dist
simplesaml
web/js/bower
assets/local/
tests/_output/*
tests/Support/_generated/*
node_modules/
npm-debug.log
/web/updates/
/web/assets/*
components/fpdi
.phpunit.result.cache
.env
config/config_tests.json
config/config_tests_dbwv.json
config/config_tests_yfj.json
