volumes:
  redis-data: {}
  mysql-data: {}

services:
  web:
    build:
      context: ./
      dockerfile: docker/php/Dockerfile
    environment:
      - APP_DOMAIN=localhost:12380
      - SITE_SUBDOMAIN=stdparteitag
      - DB_HOST=mysql
      - DB_NAME=antragsgruen
      - DB_USER=root
      - DB_PASSWORD=root
      - REDIS_HOST=redis
      - RANDOM_SEED=+g/q03CiiwtWrsp/dRtHEJm5MPmrQjKhPxlx7MhrmqU
      - RABBITMQ_HOST=rabbitmq
      - WEASYPRINT_PATH=/usr/bin/weasyprint
      - IMAGE_MAGICK_PATH=/usr/bin/convert
    volumes:
      - "./:/var/www/antragsgruen"
      - "../antragsgruen-plugins/:/var/www/antragsgruen-plugins/:ro"

  nginx:
    image: nginx:latest
    ports:
      - "12380:80"
      - "12443:443"
    volumes:
      - "./:/var/www/antragsgruen:ro"
      - "./docker/nginx:/etc/nginx/conf.d"

  mysql:
    image: mariadb
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: root
    volumes:
      - "mysql-data:/var/lib/mysql"

  redis:
    image: "redis:7"
    volumes:
      - 'redis-data:/data'

  rabbitmq:
    image: 'rabbitmq:3-management-alpine'
    environment:
      - RABBITMQ_DEFAULT_PASS=guest
      - RABBITMQ_DEFAULT_USER=guest
    ports:
      - "5672:5672"
      - "15672:15672"
    profiles:
      - live
