# php -d memory_limit=1G vendor/bin/phpstan.phar analyse --level 7 --generate-baseline
# php -d memory_limit=1G vendor/bin/phpstan.phar analyse --level 7
# includes:
#  - phpstan-baseline.neon

parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
      - identifier: missingType.iterableValue # Issues because Yii's ActiveRecords are recognized as Iterables
    scanDirectories:
      - vendor
    scanFiles:
      - views/motion/LayoutHelper.php
      - views/amendment/LayoutHelper.php
      - views/speech/LayoutHelper.php
      - views/consultation/LayoutHelper.php
      - config/defines.php
      - assets/phpstan-helper.php
    paths:
      - models
      - controllers
      - components
      - commands
      - plugins
      - views/pdfLayouts

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
