# php -d memory_limit=1G vendor/bin/phpstan.phar analyse --level 7 --generate-baseline
# php -d memory_limit=1G vendor/bin/phpstan.phar analyse --level 7
# includes:
#	- phpstan-baseline.neon
#
parameters:
    scanDirectories:
      - vendor
    scanFiles:
      - views/motion/LayoutHelper.php
      - views/amendment/LayoutHelper.php
      - views/speech/LayoutHelper.php
      - views/consultation/LayoutHelper.php
      - config/defines.php
    paths:
      - models
      - controllers
      - components
      - commands
      - plugins
      - views\pdfLayouts
