<section class="motionListSearchForm fuelux">
    <label>
        Antragsnr.:<br>
        <input type="text" class="form-control inputPrefix" [value]="searchPrefix"
                (change)="searchPrefixChange($event)" (keyup)="searchPrefixChange($event)">
    </label>
    <label>
        Titel:<br>
        <input type="text" class="form-control inputPrefix" [value]="searchTitle"
                (change)="searchTitleChange($event)" (keyup)="searchTitleChange($event)">
    </label>
    <label>Status:<br>
        <selectlist [items]="getAvailableStatusItems()" [selected]="" (onSelect)="setStatusItem($event)"></selectlist>
    </label>
    <label>Initiator:<br>
        <input type="text" class="form-control inputPrefix" [value]="searchInitiator"
                (change)="searchInitiatorChange($event)" (keyup)="searchInitiatorChange($event)">
    </label>
    <label *ngIf="hasTopics">Thema:<br>
        <selectlist [items]="getAvailableTagsItems()" [selected]="" (onSelect)="setTagItem($event)"></selectlist>
    </label>
</section>

<table class="adminMotionTable">
    <thead>
    <tr>
        <th></th>
        <th i18n="admin-index column header">Type</th>
        <th i18n="admin-index column header">Code</th>
        <th i18n="admin-index column header">Title</th>
        <th i18n="admin-index column header">Status</th>
        <th i18n="admin-index column header">Initiators</th>
        <th i18n="admin-index column header" *ngIf="hasTopics">Topic</th>
        <th i18n="admin-index column header">Export</th>
        <th i18n="admin-index column header">Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of sortedFilteredItems; trackBy: trackElement">
        <tr *ngIf="item.type == 'motion'">
            <td><input type="checkbox"></td>
            <td i18n="admin-index motion indicator">Mot</td>
            <td><a [href]="item.getLink('motion/view', linkTemplates)" [innerHTML]="getHighlightedPrefix(item)"></a></td>
            <td><a [href]="item.getLink('admin/motion/update', linkTemplates)" [innerHTML]="getHighlightedTitle(item)"></a></td>
            <td class="statusCol">{{ getStatusString(item) }}</td>
            <td class="initiatorCol" [innerHTML]="getHighlightedInitiator(item)"></td>
            <td class="tagsCol" *ngIf="hasTopics">
                <ul>
                    <li *ngFor="let tag of item.tags">
                        {{ tag.title }}
                    </li>
                </ul>
            </td>
            <td class="exportCol">
                <a [href]="item.getLink('motion/pdf', linkTemplates)" class="pdf" i18n="admin-index export">PDF</a> /
                <a [href]="item.getLink('motion/pdfamendcollection', linkTemplates)" class="pdf"
                   i18n="admin-index export">PDF + Amd.</a> /
                <a [href]="item.getLink('motion/odt', linkTemplates)" class="odt" i18n="admin-index export">ODT</a> /
                <a [href]="item.getLink('motion/plainhtml', linkTemplates)" class="html"
                   i18n="admin-index export">HTML</a>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <ng-container i18n="admin-index action dropdown">Action</ng-container>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngIf="item.isScreenable()">
                            <a tabindex="-1" href="#" (click)="motionScreen(item, $event)" class="screen"
                               i18n="admin-index action dropdown">Screen</a>
                        </li>
                        <li *ngIf="!item.isScreenable()">
                            <a tabindex="-1" href="#" (click)="motionUnscreen(item, $event)" class="unscreen"
                               i18n="admin-index action dropdown">Un-screen</a>
                        </li>
                        <li>
                            <a tabindex="-1" href="#" (click)="motionCreateTpl(item, $event)"
                               class="asTemplate"
                               i18n="admin-index action dropdown">Create a new motion based on this one</a>
                        </li>
                        <li>
                            <a tabindex="-1" href="#" (click)="motionDelete(item, $event)" class="delete"
                               i18n="admin-index action dropdown">Delete</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr *ngIf="item.type == 'amendment'">
            <td><input type="checkbox"></td>
            <td i18n="admin-index amendment indicator">Amd</td>
            <td><a [href]="item.getLink('amendment/view', linkTemplates)">
                &#8627;
                <span [innerHTML]="getHighlightedPrefix(item)"></span>
            </a></td>
            <td><a [href]="item.getLink('admin/amendment/update', linkTemplates)" [innerHTML]="getHighlightedTitle(item)"></a></td>
            <td class="statusCol">{{ getStatusString(item) }}</td>
            <td class="initiatorCol" [innerHTML]="getHighlightedInitiator(item)"></td>
            <td class="tagsCol" *ngIf="hasTopics"></td>
            <td>
                <a [href]="item.getLink('amendment/pdf', linkTemplates)" class="pdf" i18n="admin-index export">PDF</a> /
                <a [href]="item.getLink('amendment/odt', linkTemplates)" class="odt" i18n="admin-index export">ODT</a>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <ng-container i18n="admin-index action dropdown">Action</ng-container>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngIf="item.isScreenable()">
                            <a tabindex="-1" href="#" (click)="amendmentScreen(item, $event)" class="screen"
                               i18n="admin-index action dropdown">Screen</a>
                        </li>
                        <li *ngIf="!item.isScreenable()">
                            <a tabindex="-1" href="#" (click)="amendmentUnscreen(item, $event)" class="unscreen"
                               i18n="admin-index action dropdown">Un-screen</a>
                        </li>
                        <li>
                            <a tabindex="-1" href="#" (click)="amendmentCreateTpl(item, $event)" class="asTemplate"
                               i18n="admin-index action dropdown">Create a new amendment based on this one</a>
                        </li>
                        <li>
                            <a tabindex="-1" href="#" (click)="amendmentDelete(item, $event)" class="delete"
                               i18n="admin-index action dropdown">Delete</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>

<pre id="debug">{{ log }}</pre>
