<h3>Motions</h3>
<table>
    <thead>
    <tr>
        <th></th>
        <th>Typ</th>
        <th>Antragsnr.</th>
        <th>Titel</th>
        <th>Status</th>
        <th>Initiator*innen</th>
        <th>Thema</th>
        <th>Export</th>
        <th>Aktion</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of sortedItems; trackBy: trackElement">
        <tr *ngIf="item.type == 'motion'">
            <td><input type="checkbox"></td>
            <td>A</td>
            <td>{{ item.titlePrefix }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.statusFormatted }}</td>
            <td>
                <ul>
                    <li *ngFor="let person of item.initiators">
                        {{ person.name }}
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li *ngFor="let tag of item.tags">
                        {{ tag.title }}
                    </li>
                </ul>
            </td>
            <td><input type="text" class="form-control"></td>
            <td>...</td>
        </tr>
        <tr *ngIf="item.type == 'amendment'">
            <td><input type="checkbox"></td>
            <td>ÄA</td>
            <td>{{ item.titlePrefix }}</td>
            <td>{{ item.motionTitle }}</td>
            <td>{{ item.statusFormatted }}</td>
            <td>
                <ul>
                    <li *ngFor="let person of item.initiators">
                        {{ person.name }}
                    </li>
                </ul>
            </td>
            <td></td>
            <td><input type="text" class="form-control"></td>
            <td>...</td>
        </tr>
    </ng-container>
    </tbody>
</table>

<pre id="debug">{{ log }}</pre>