.aenders { display: none !important; }
.kommentare { display: none !important; }
#mainmenu { display: none !important; }
.antrags_text_holder .text, .antrags_text_holder .text li, .antragstext_diff { font-size: 13px !important; }
.absatz_text {  border-right: solid 0 lightgray !important; }
h1 { font-size: 25px; }
html, body { height: auto !important; display: block; }
.footer_bar { display: none !important; }
.well { padding: 0; box-shadow: none; margin: 0;  border: none; }
.row-fluid [class*="span"] { float: none; }
[class*="span"] { float: none; }
.no_print { display: none !important;}