@charset "UTF-8";

/************************** NOTES ****************************

font-family: 	"BentonSansCond Regular";

Farben
hellgrün		rgb(175, 203, 8)
hellgrün text	rgb(162, 188, 4)
magenta			rgb(226, 0, 122)
dunkelgrün		rgb(40, 95, 25)

Iconcodes
Herz: 			'\e800'
Antragt: 		'\270d'
Download:		'\e4a4'
Kommentar: 		'\e718'
Ort: 			'\e724' 
Benutzer: 		'👤'
Resolution: 	'📄'
Pin: 			'📌'
Änderungsantrag: '📎'
Zeit: 			'🕔'
Hinzufügen: 	'\2795' 
Löschen: 		"✕"
Zurück.			"←"


***************************************************************/


/************************* BASICS *****************************/

* {
	margin: 0;
	padding: 0;
	border: none;
	text-align: left;
	border-collapse: collapse;
}

html {
	background: url("img/wallpaper.jpg") repeat scroll 0 0 transparent;
}

body {
	background: url("img/verlauf-back.png") repeat-x scroll 0 0 transparent;
	color: rgb(72, 70, 73);
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

body,
li {
	line-height: 18px;
}

@font-face {
  font-family: 'icons_antragsgruen';
  src: url("font/icons_antragsgruen.eot");
  src: url("font/icons_antragsgruen.eot?#iefix") format('embedded-opentype'), url("font/icons_antragsgruen.woff") format('woff'), url("font/icons_antragsgruen.ttf") format('truetype'), url("font/icons_antragsgruen.svg#icons_antragsgruen") format('svg');
  font-weight: normal;
  font-style: normal;
}

p, ul {
	margin-bottom: 10px;
}

a {
	color: rgb(162, 188, 4);
}

a:hover {
	text-decoration: none;
	color: rgb(198, 214, 78);
}

/************************* LAYOUT **************************** */

#page {
	min-height: 100%;
	position: relative;
	width: 970px;
}

#page .row-fluid,
#content {
	margin-top: 10px;
}

.navbar {
	margin-bottom: 0;
}

.navbar-inner {
	background: none 0 0 transparent;
	filter: none;
    border: none;
    box-shadow: none;
    min-height: 0;
    padding: 0;
	text-align: right;
	margin-top: 10px;
	border-radius: 0;
}

.navbar .nav {
    margin: 0;
	float: right;
}

.navbar .nav li a {
	display: inline;
	padding: 0;
	margin-left: 40px;
	color: rgb(175, 203, 8);
	font-family: "BentonSansCond Regular";
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
    text-shadow: none;
}

.navbar .nav li.active a, 
.navbar .nav li a:hover, 
.navbar .nav li a:focus,
.navbar .nav li.active a:hover, 
.navbar .nav li.active a:focus {
    background: none;
	filter: none;
    box-shadow: none;
    color: rgb(40, 95, 25) !important;
}

.logo {
	margin-top: 14px;
	display: block;
}

.breadcrumb, 
.breadcrumbs {
    background: none;
	filter: none;
    border-radius: 0;
    margin: 0;
	margin-top: 30px;
    padding: 0;
}

.breadcrumb li {
    text-shadow: none;
}

.breadcrumb,
.breadcrumb .active {
	font-family: "BentonSansCond Regular";
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
    color: rgb(115, 115, 115);
}

.breadcrumb a {
	color: rgb(175, 203, 8);
}

h1.well {
	margin: 0;;
}

.span,
.row-fluid .span9 {
	width: 715px;	
}

.span3,
.row-fluid .span3 {
	width: 230px;
	margin-left: 25px;
}

.span9,
.span3,
/* #content { */
.antragcontent, ul.funktionen {
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    0px 0px 15px rgba(0, 0, 0, 0.4);
	box-shadow:         0px 0px 15px rgba(0, 0, 0, 0.4);
	background-color: #fff;
}

.span9 h1,
#content h1 {
	margin: 0;
    color: #fff;
	background: rgb(11, 47, 8);
	background: -moz-linear-gradient(90deg, rgb(11, 47, 8) 0%, rgb(40, 95, 25) 100%);
	background: -webkit-linear-gradient(90deg, rgb(11, 47, 8) 0%, rgb(40, 95, 25) 100%);
	background: -o-linear-gradient(90deg, rgb(11, 47, 8) 0%, rgb(40, 95, 25) 100%);
	background: -ms-linear-gradient(90deg, rgb(11, 47, 8) 0%, rgb(40, 95, 25) 100%);
	background: linear-gradient(90deg, rgb(11, 47, 8) 0%, rgb(40, 95, 25) 100%);
    padding: 5px 20px 4px;
	font-family: "BentonSansCond Regular";
	font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	 border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

.well, 
.span9 .antrag,
.antragabsatz_holder {
	background: rgb(246, 246, 246);
	background: -moz-linear-gradient(90deg, rgb(246, 246, 246) 25%, rgb(255, 255, 255) 100%);
	background: -webkit-linear-gradient(90deg, rgb(246, 246, 246) 25%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(90deg, rgb(246, 246, 246) 25%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(90deg, rgb(246, 246, 246) 25%, rgb(255, 255, 255) 100%);
	background: linear-gradient(90deg, rgb(246, 246, 246) 25%, rgb(255, 255, 255) 100%);
	padding: 0;
	margin: 0;
    border: 0;
	border-bottom: 1px solid rgb(209, 209, 210);
    border-radius: 0;
    box-shadow: none;
	position: relative;
}

.span9 > .well:first-child,
.span3 > .well:first-child,
#content .well:first-child {
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	 border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

.span3 > .well:last-child,
.span9 ul:last-child .antrag:last-child,
.antrags_text_holder  > .well:last-child,
.well.last,
#content > .well:last-child {
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-bottom: 50px;
}

.span9 .antrag {
	padding: 12px 20px 17px 20px;
}

.well .content,
.antragabsatz_holder,
.begruendungs_text_holder .textholder,
#cke_ae_begruendung,
.well.form {
	padding: 15px 20px 30px;
}

.antragabsatz_holder.orig {
	padding: 20px 20px 30px 0;
}
.antragstext_diff {
	padding: 20px 20px 30px 60px;
}

.span9 > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h3,
h2,
.span3 .well .nav-list .nav-header {
	margin: 0;
	margin-top: 1px;
    color: #fff;
	background: rgb(175, 203, 8);
	background: -moz-linear-gradient(90deg, rgb(175, 203, 8) 0%, rgb(185, 209, 38) 100%);
	background: -webkit-linear-gradient(90deg, rgb(175, 203, 8) 0%, rgb(185, 209, 38) 100%);
	background: -o-linear-gradient(90deg, rgb(175, 203, 8) 0%, rgb(185, 209, 38) 100%);
	background: -ms-linear-gradient(90deg, rgb(175, 203, 8) 0%, rgb(185, 209, 38) 100%);
	background: linear-gradient(90deg, rgb(175, 203, 8) 0%, rgb(185, 209, 38) 100%);
    padding: 6px 20px 4px;
	font-family: "BentonSansCond Regular";
	font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}

.span9 .antragsschluss {
	float: right;
	width: 105px;
	height: 85px;
	padding-top: 20px;
	background: rgb(226, 0, 122);
	background: -moz-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: -webkit-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: -o-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: -ms-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	font-family: "BentonSansCond Regular";
	font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
    color: #fff;
	margin-left: 40px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
}

.span9 .antrag {
	padding-left: 50px !important;
}

.span9 .antrag .datum {
	color: rgb(179, 180, 180);
	display: block;
	float: right;
	margin-left: 20px;
}

.span9 .antrag .titel {
	margin-bottom: 3px;
}

.span9 .antrag .titel:before {
	content: '\270d';
  	font-family: 'icons_antragsgruen';
  	display: inline-block;
  	width: 30px;
	font-size: 20px;
	margin-left: -30px;
	vertical-align: bottom;
	color: rgb(175, 203, 8);
}

.span9 .resolution .titel:before {
	content: '📄';
}

.span9 .antrag .titel a {
	color: rgb(40, 95, 25);
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	text-indent: 0px;
}

.span9 .antrag .titel a:hover,
.span9 .antrag .titel a:focus {
	color: rgb(73, 127, 55);
}

.span9 .antrag .titel .pdfLink {
	font-size: 13px;
	color: rgb(162, 188, 4);
	margin-left: 10px;
	display: inline-block;
	font-weight: normal;
}

.span9 .antrag .titel .pdfLink a:hover {
	text-decoration: none;
	color: rgb(198, 214, 78);
}

.span9 .antrag .titel .pdfLink:before {
	content: '\e4a4';
	color: rgb(175, 203, 8);
    font-family: 'icons_antragsgruen';
	display: inline-block;
    width: 16px;
    font-size: 14px;
    vertical-align: text-bottom;
}

.span9 .antrag .info {
	font-style: italic;
	color: rgb(115, 115, 115);
}

.span9 .aenderungsantraege {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.span9 .aenderungsantraege li:before {
	content: '📎';
	color: #A2BC04;
    display: inline-block;
    font-family: 'icons_antragsgruen';
    font-size: 15px;
    vertical-align: bottom;
    width: 14px;
}

.span9 .aenderungsantraege li {
	margin-bottom: 3px;
}

.span9 .aenderungsantraege li a {
	font-weight: bold;
	margin-right: 5px;
}

.antrags_text_holder .text, 
.antrags_text_holder .text li, 
.antragstext_diff {
	font-family: 'Anonymous Pro', Consolas, Courier, sans-serif;
}

.antrags_text_holder .absatz_text ul,
.antrags_text_holder .absatz_text ol {
	margin-left: 40px;
}

.absatz_text {
	position: relative;
	margin-left: 0;
}

.antrags_text_holder_nummern .text {
	padding-left: 40px;
}
.ae_text_holder {
	padding-left: 60px;
}


.antrags_text_holder_nummern .zeilennummer {
	color: #C3C3C3;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    left: -20px;
    position: relative;
    text-decoration: none;
    width: 20px;
}

.antrags_text_holder_nummern ul.text li .zeilennummer,
.antrags_text_holder_nummern ol.text li .zeilennummer {
	left: -60px;
}

.textabschnitt {
	position: relative;
}

.aenders, 
.kommentare {
	display: block;
	position: absolute;
	width: 57px;
	right: -57px;
	color: #fff;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	/* -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    0px 0px 15px rgba(0, 0, 0, 0.4);
	box-shadow:         0px 0px 15px rgba(0, 0, 0, 0.4); */
	font-weight: bold;
}

.kommentare {
	top: 0;
}

.kommentare .shower,
.kommentare .hider {
	display: block;
	padding: 10px 0 10px 10px;
	cursor: pointer;
	background: rgb(226, 0, 122);
	background: -moz-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: -webkit-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: -o-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: -ms-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.kommentare .hider {
	background: rgb(180, 180, 180);
	background: -moz-linear-gradient(90deg, rgb(180, 180, 180) 0%, rgb(220, 220, 220) 100%);
	background: -webkit-linear-gradient(90deg, rgb(180, 180, 180) 0%, rgb(220, 220, 220) 100%);
	background: -o-linear-gradient(90deg, rgb(180, 180, 180) 0%, rgb(220, 220, 220) 100%);
	background: -ms-linear-gradient(90deg, rgb(180, 180, 180) 0%, rgb(220, 220, 220) 100%);
	background: linear-gradient(90deg, rgb(180, 180, 180) 0%, rgb(220, 220, 220) 100%);
}

.kommentare .shower {
	display: none;
}

.kommentare .shower:before,
.kommentare .hider:before {	
	content: '\e718';
	color: #fff;
    display: inline-block;
    font-family: 'icons_antragsgruen';
    font-size: 15px;
    vertical-align: bottom;
    width: 20px;
}

.kommentare a {
	font-weight: bold;
	color: #fff !important;	
}

.aenders {
	top: 48px;
	background: rgb(175, 203, 8);
	background: -moz-linear-gradient(90deg, rgb(175, 203, 8) 0%, rgb(185, 209, 38) 100%);
	background: -webkit-linear-gradient(90deg, rgb(175, 203, 8) 0%, rgb(185, 209, 38) 100%);
	background: -o-linear-gradient(90deg, rgb(175, 203, 8) 0%, rgb(185, 209, 38) 100%);
	background: -ms-linear-gradient(90deg, rgb(175, 203, 8) 0%, rgb(185, 209, 38) 100%);
	background: linear-gradient(90deg, rgb(175, 203, 8) 0%, rgb(185, 209, 38) 100%);
	padding: 10px 0 10px 10px;
	width: 47px;
}

.aenders ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.aenders a {
	font-weight: bold;
	color: #fff !important;	
}

.aenders a:hover {
	color: rgb(40, 95, 25) !important;	
}

.aenders a:before {	
	content: '\270d';
	color: #fff;
    display: inline-block;
    font-family: 'icons_antragsgruen';
    font-size: 15px;
    vertical-align: bottom;
    width: 20px;
}

.kommentarform {
	 padding: 12px 20px 25px;
}

.kommentarform h3 {
	background: none;
    color: rgb(162, 188, 4);
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 5px 0;
	text-transform: none;
	padding: 0;
}

.kommentarform .datum {
	color: #B3B4B4;
    float: right;
    margin-left: 20px;
}

.kommentarform .del_link {
	float: right;
	margin-left: 20px;
}

.kommentarform .del_link a {	
	color: #ccc;
    display: block;
    font-family: 'icons_antragsgruen';
    font-size: 12px;
    vertical-align: bottom;
}

.kommentarform .del_link a:hover,
.kommentarform .del_link a:focus {	
	color: #bbb;
}

.saveholder {
	text-align: center;
	margin-bottom: 20px;
}

 legend {
    border: none;
    color: rgb(40, 95, 25);
	font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 5px 0;
}

.control-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

.control-label {
    width: 100px;
	font-size: 13px;
	float: left;
	text-align: right;
	padding-top: 5px;
}
/*
.controls {
    margin-left: 118px;
}
*/

#veranstaltung-form label, #person-form label, #antrag-kommentar-form label, #aenderungsantrag-kommentar-form label, #texte-form label {
	display: inline-block;
	width: 220px;
}
#antrag-form label, #aenderungsantrag-form label {
	display: inline-block;;
	width: 180px;
}

.form-actions {
	background: rgb(246, 246, 246);
	background: -moz-linear-gradient(90deg, rgb(246, 246, 246) 25%, rgb(255, 255, 255) 100%);
	background: -webkit-linear-gradient(90deg, rgb(246, 246, 246) 25%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(90deg, rgb(246, 246, 246) 25%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(90deg, rgb(246, 246, 246) 25%, rgb(255, 255, 255) 100%);
	background: linear-gradient(90deg, rgb(246, 246, 246) 25%, rgb(255, 255, 255) 100%);
	padding: 0;
	margin: 0;
    border: 0;
    border-radius: 0;
	position: relative;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 15px 20px 50px;
}

.btn-primary {
    border: none;
    text-shadow: none;
    color: #fff;
	background: rgb(226, 0, 122);
	background: -moz-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: -webkit-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: -o-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: -ms-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
    padding: 6px 30px 4px;
	font-family: "BentonSansCond Regular";
	font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}

.span9 .btn-primary {
	margin: 10px 0 0 200px;
}

.ae_select_confirm {
	text-align: center;
}

h3 label {
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
	color: inherit;
	font-family: inherit;
	margin: 0;
}

.form .radio {
    min-width: 140px;
}

form {
	margin: 0;
}

.ae_absatzwahl_modus .antragabsatz_holder .text:hover {
	background-color: #eee;
	cursor: pointer;
}

.cke_skin_kama {
	border: none !important;
}




.span3 .well:first-child .nav-list .nav-header {
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	 border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 0;
}

.span3 .well .nav-list {
	padding: 0;
	margin-bottom: 20px;
}

.span3 .well .nav-list li {
    padding: 0px 20px 10px 38px;
	line-height: 18px;
}

.span3 .well .nav-list li a {
    display: inline;
}
	
.span3 .well .neue-antraege li a {
	color: rgb(40, 95, 25);
}

.span3 .well .neue-antraege li a:hover,
.span3 .well .neue-antraege li a:focus {
	color: rgb(73, 127, 55);
}

.span3 .well .neue-antraege .antrag:before {	
	content: '\270d';
	color: #A2BC04;
    display: inline-block;
    font-family: 'icons_antragsgruen';
    font-size: 15px;
    vertical-align: bottom;
    width: 20px;
	margin-left: -20px;
}

.span3 .well .neue-antraege .resolution:before {
	content: '📄';
	color: #A2BC04;
    display: inline-block;
    font-family: 'icons_antragsgruen';
    font-size: 15px;
    vertical-align: bottom;
    width: 20px;
	margin-left: -20px;
}

.span3 .neue-aenderungsantraege .aeantrag:before {
	content: '📎';
	color: #A2BC04;
    display: inline-block;
    font-family: 'icons_antragsgruen';
    font-size: 15px;
    vertical-align: bottom;
    width: 20px;
	margin-left: -20px;
}

.span3 .neue-kommentare .komm:before {
	content: '\e718';
	color: #A2BC04;
    display: inline-block;
    font-family: 'icons_antragsgruen';
    font-size: 15px;
    vertical-align: bottom;
    width: 20px;
	margin-left: -20px;
}

.span3 .neue-kommentare .komm strong {
	font-weight: normal;
	font-style: italic;
}

.span3 .well .nav-list > li a,
.span3 .well .nav-list > li a:hover,
.span3 .well .nav-list > li a:focus {
    padding: 0px;
	background: none;
	filter: none;
}

.span3 .well .nav-list > li a, 
.span3 .well .nav-list .nav-header {
    margin: 0;
    text-shadow: none;
}

.span3 .well .nav-list .nav-header {
	margin-bottom: 12px;
}

.span3 .neuer-antrag {
	position: absolute;
	top: -4px;
	right: -58px;
}

ul.funktionen {
	background: rgb(226, 0, 122);
	background: -moz-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: -webkit-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: -o-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: -ms-linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	background: linear-gradient(90deg, rgb(226, 0, 122) 0%, rgb(234, 74, 161) 100%);
	padding: 20px 20px 21px 41px;
	list-style-type: none;
	margin: 0;
}

ul.funktionen li a {
	display: block;
	font-family: "BentonSansCond Regular";
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	color: #fff;
	padding-bottom: 10px;
}

ul.funktionen li a:hover {
	color: rgb(246, 224, 235);
}

ul.funktionen .unterstuetzen a:before,
ul.funktionen .aender-stellen a:before,
ul.funktionen .download a:before,
ul.funktionen .zurueck a:before {
	content: '\e800';
    display: inline-block;
    font-family: 'icons_antragsgruen';
    font-size: 15px;
    vertical-align: bottom;
    width: 24px;
	margin-left: -24px;
	color: #fff;
}

ul.funktionen .aender-stellen a:before {
	content: '\2795';
}

ul.funktionen .download a:before {
	content: '\e4a4';
}

ul.funktionen .zurueck a:before {
	content: "←";
}

.footer_bar {
	clear: both;
	width: 970px;
	margin-bottom: 70px;
	margin-top: 20px;
}

.footer_bar .brand {
	display: none;
}

.footer_bar .navbar-inner {
    text-align: left;
}

.clear {
	clear: both;
}						



/**************************** ALT ***************************** */

.row {
	overflow: auto;
}
.unterstuetzerwidget_adder {
	border: dotted 1px gray;
}
.unterstuetzerwidget_adder .person_selector {
	width: 240px;
	margin-right: 10px;
}
.antragsdaten th {
	text-align: left;
	padding-right: 10px;
}
table.view {
	border: dotted 1px gray;
	border-spacing: 0;
}
table.view > tbody > tr > td, table.view > tbody > tr > th {
	padding: 2px;
}
table.view > tbody > tr > td {
	width: 75%;
}
del {
	color: #880000;
}
ins {
	color: #008800;
}

.antragstext_diff {
	cursor: pointer;
}
.antragstext_diff ul {
	margin-left: 45px;
}
.antragstext_diff ul li {
	width: 480px;
}
.unterstuetzer_neu_holder input {
	border: solid 1px gray;
}
.unterstuetzer label input, .form input, .form label {
	display: inline-block;
}
#aenderungsantrag-form textarea, #texte-form textarea {
	width: 400px;
}
#aenderungsantrag-form textarea {
	height: 150px;
}
#texte-form textarea {
	height: 400px;
}
#aenderungsantrag-form select, #antrag-form select, #texte-form input, #texte-form select {
	width: 405px;
}
#Antrag_status_string, #antrag-form select#Antrag_status {
	width: 200px;
}
#aenderungsantrag-form #Aenderungsantrag_status, #aenderungsantrag-form #Aenderungsantrag_status_string {
	width: 200px;
}
#aenderungsantrag-form .unterstuetzerwidget select, #antrag-form .unterstuetzerwidget select {
	width: 200px;
}
.js_protection_hint {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f08080;
	border: solid 1px red;
	margin: 15px;
	padding: 5px;
}
blockquote {
	margin: 3px 3px 3px 15px;
	border-left: dotted 2px gray;
	padding: 5px;
}

