*
!ModuleBase.php
!antragsgruen_sites
!bgs
!discourse
!drupal_civicrm
!egp_usersync
!extra_css_js
!green_layout
!green_manager
!gruen_ci
!gruen_gender
!gruene_ch_saml
!gruene_de_saml
!motionslides
!multisite_admin
!openslides
!swagger_ui
