$text-color: rgb(72, 70, 73);
$screen-lg-min: 10000; // deaktivieren
$container-md: 1024px;
$container-desktop: 1024px;

$icon-font-path: "/fonts/";

// Core variables and mixins
@import "bootstrap-3.3.5-sass/bootstrap/variables";
@import "bootstrap-3.3.5-sass/bootstrap/mixins";

// Reset and dependencies
@import "bootstrap-3.3.5-sass/bootstrap/normalize";
@import "bootstrap-3.3.5-sass/bootstrap/print";
@import "bootstrap-3.3.5-sass/bootstrap/glyphicons";

// Core CSS
@import "bootstrap-3.3.5-sass/bootstrap/scaffolding";
@import "bootstrap-3.3.5-sass/bootstrap/type";
@import "bootstrap-3.3.5-sass/bootstrap/code";
@import "bootstrap-3.3.5-sass/bootstrap/grid";
@import "bootstrap-3.3.5-sass/bootstrap/tables";
@import "bootstrap-3.3.5-sass/bootstrap/forms";
@import "bootstrap-3.3.5-sass/bootstrap/buttons";

// Components
@import "bootstrap-3.3.5-sass/bootstrap/input-groups";
@import "bootstrap-3.3.5-sass/bootstrap/dropdowns";
@import "bootstrap-3.3.5-sass/bootstrap/navs";
@import "bootstrap-3.3.5-sass/bootstrap/navbar";
@import "bootstrap-3.3.5-sass/bootstrap/alerts";
@import "bootstrap-3.3.5-sass/bootstrap/breadcrumbs";
@import "bootstrap-3.3.5-sass/bootstrap/wells";
@import "bootstrap-3.3.5-sass/bootstrap/close";

// Components w/ JavaScript
@import "bootstrap-3.3.5-sass/bootstrap/modals";

// Utility classes
@import "bootstrap-3.3.5-sass/bootstrap/utilities";
@import "bootstrap-3.3.5-sass/bootstrap/responsive-utilities";

@import "mixins";

html {
  background: url("../img/wallpaper.jpg") repeat scroll 0 0 transparent;
  height: 100%;
}

body {
  background: url("../img/backgroundGradient.png") repeat-x scroll 0 0 transparent;
  font-family: $bodyFont;
  height: 100%;

  &.fullscreen {
    .container {
      width: auto;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

blockquote {
  margin: 3px 3px 3px 15px;
  border-left: dotted 2px gray;
  padding: 5px;
}

p, ul {
  margin-bottom: 10px;
}

a {
  color: $colorGreenLightText;
  &:hover {
    text-decoration: none;
    color: rgb(198, 214, 78);
  }
}

.well {
  padding: 0;
  position: relative;

  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  background-color: #fff;

  @include border-radius(10px);
  > :first-child {
    @include border-radius-top();
    .nav-header {
      @include border-radius-top();
    }
  }
  > :last-child {
    @include border-radius-bottom();
  }

  h1 {
    @include stdHeading(rgb(11, 47, 8), $colorGreenDark);
    margin: -1px;
  }
  h2.green, h3.green, .nav-header {
    @include stdHeading($colorGreenLight, rgb(185, 209, 38));
    margin: -1px;
  }
  h2.lightgreen, h3.lightgreen, .nav-header {
    margin: -1px;
    @include linear-gradient(90deg, lighten($colorGreenLight, 50%), lighten(rgb(185, 209, 38), 50%));
    padding: 5px 20px 5px;
    font-family: $stdHeadingFont;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
  }


  .content {
    padding: 15px 20px 30px;
    overflow: visible; // Wg. Datetimepicker, der über den Rand hinausgeht
  }

  > .alert {
    margin: 20px;
  }
}

.navbar {
  margin-bottom: 0;

  .navbar-inner {
    background: none 0 0 transparent;
    filter: none;
    border: none;
    box-shadow: none;
    min-height: 0;
    padding: 0;
    text-align: right;
    margin-top: 10px;
    @include border-radius(0);
  }

  .nav {
    margin: 0;
    float: right;

    li a {
      display: inline;
      padding: 0;
      margin-left: 40px;
      color: $colorGreenLight;
      font-family: $topNavbarFont;
      font-style: normal;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
      text-shadow: none;
    }

    li.active a,
    li a:hover,
    li a:focus,
    li.active a:hover,
    li.active a:focus {
      background: none;
      filter: none;
      box-shadow: none;
      color: $colorGreenDark !important;
    }
  }

}

.btn {
  .span9 & {
    margin: 10px 0 0 200px;
  }
  font-family: $buttonFont;
  font-weight: bold;
}

.btn-primary {
  /*
  border: none;
  text-shadow: none;
  padding: 6px 30px 4px;
  font-size: 15px;
  line-height: 18px;
  */
  text-transform: uppercase;
  color: #fff;
  @include linear-gradient(90deg, $colorMagenta, rgb(234, 74, 161));
}



label {
  input, textarea {
    font-weight: normal;
  }
}

.logo {
  margin-top: 14px;
  display: block;
  margin-bottom: 40px;

  > a {
    display: inline-block;
  }
  .logo_img {
    display: block;
    width: 377px;
    height: 55px;
    background-image: url(/img/logo.png);
  }
}

.breadcrumb {
  background: none;
  filter: none;
  @include border-radius(0);
  margin: 0;
  margin-top: 30px;
  padding: 0;

  &, .active {
    font-family: $breadcrumbFont;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(115, 115, 115);
  }

  li {
    text-shadow: none;
  }

  a {
    color: $colorGreenLight;
  }

}

/* keep the footer at the bottom of the page */
$footer_height: 1.6em;
$footer_line_height: 1.5em;

.over_footer_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-1 * $footer_height);
}

body > footer {
  height: $footer_height;
  p {
    height: $footer_height;
    line-height: $footer_line_height;
    margin-bottom: 0;
    margin-top: 0;
    white-space: nowrap;
  }
  .version {
    display: inline-block;
    margin-left: 30px;
    font-size: 0.8em;
  }
  @media print {
    display: none;
  }
}

.footer_spacer {
  height: $footer_height;
}



.labelSubInfo {
  font-weight: normal;
  font-size: 0.8em;
}

html.no-touch .hoverHolder {
  .hoverElement {
    display: none;
  }
  &:hover {
    .hoverElement {
      display: inherit;
    }
  }
}

button.link {
  background: transparent;
  border: none;
}

.hideIfEmpty:empty {
  display: none;
}


del, ul.deleted, blockquote.deleted {
  color: #880000;
  text-decoration: line-through;
}

ins, ul.inserted, blockquote.inserted {
  color: #008800;
  text-decoration: underline;
}

.label {
  @extend label;
}


.texteditor {
  min-height: 100px;

  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  > * {
    @include motionParagraphStd();
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: $fixedWidthTextStdPadding - 40;
    margin-bottom: 5px;
  }
  > ul, ol {
    padding-left: $fixedWidthTextListPadding + $fixedWidthTextStdPadding - 40;
  }
  > blockquote {
    @include motionParagraphBlockquote;
    margin-left: $fixedWidthTextQuoteMargin + $fixedWidthTextStdPadding - 40;
  }
  span.underline {
    border-bottom: solid 1px black;
  }
  span.strike {
    text-decoration: line-through;
  }
  span.subscript {
    // @TODO
  }
  span.superscript {
    // @TODO
  }
}