
#proposedChanges {
  background-color: #f8faf8;
  border: solid 1px #eee;
  border-radius: 4px;
  margin: 0 20px 30px;

  h2 {
    margin: 0;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #ded;
  }

  .holder {
    display: flex;
    > * {
      flex: 1;
      padding: 10px;
    }
  }
  .statusForm {
    width: 40%;
  }
  .proposalCommentForm {
    width: 40%;
    display: flex;
    flex-direction: column;
    border-left: solid 1px #eee;
  }
  .middleCol {
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  .votingBlockSettings {
    padding-bottom: 10px;
  }
  .visibilitySettings {
    label {
      display: block;
    }
  }
  .notificationStatus {
    font-size: 12px;
    .accepted {
      color: green;
      margin-right: 5px;
    }
    .rejected {
      color: red;
      margin-right: 5px;
    }
    .notSavedHint {
      font-style: italic;
      color: #777;
    }
    .notifyProposer {
      white-space: normal;
      text-align: left;
      font-weight: normal;
    }
  }

  h3, .headingLabel {
    font-size: 14px;
    margin: 3px 0 8px 0;
    font-weight: bold;
  }
  label {
    font-size: 12px;
    font-weight: normal;
  }
  .newBlock {
    .control-label {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .commentList {
    flex: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    max-height: 130px;
    overflow-y: auto;
    background-color: #fbfdfb;
    border: solid 1px #dfd;

    > li {
      margin: 0;
      padding: 0;
      display: block;
    }
    .header {
      background-color: #eee;
      overflow: auto;
      margin-top: 10px;
    }
    .date {
      float: right;
    }
  }
  .proposalCommentForm {
    font-size: 12px;

    textarea {
      border-radius: 0;
      border: solid 1px #eee;
      border-bottom: none;
      box-shadow: none;
      font-size: 12px;
    }
    button {
      margin-top: -1px;
      width: 100%;
    }
  }
  .statusDetails, .collissions, .publicExplanation {
    border-top: solid 1px #eee;
    padding: 10px;
  }
  .saving, .saved {
    border-top: solid 1px #eee;
    height: 40px;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
    display: none;
  }
  .showIfChanged {
    display: none;
  }
  &.isChanged .showIfChanged {
    display: block;
  }
  &.isChanged .hideIfChanged {
    display: none;
  }
  &.showSaved .saved {
    display: block;
  }
  &.noStatus .showIfStatusSet {
    display: none;
  }
}

#proposedChangeTextForm {
  h2 {
    font-size: 24px;
  }
  .motionTextHolder {
    margin-top: 20px;
    .title {
      font-weight: bold;
    }
    .paragraph .text {
      padding: 5px 10px 10px 0;
      > * {
        padding-bottom: 5px;
        padding-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
  .originalVersion {
    ins.ice-del, del.ice-del {
      display: inline;
    }
  }
  .save-row {
    text-align: center;
    margin: 0 0 40px 0;
  }
  #collissionIndicator {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: white;
    border-top: 1px solid #ccc;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    padding: 5px;

    h2 {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: inherit;
      font-weight: bold;
    }

    .collissionList {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style-type: none;
      > li {
        display: inline-block;
        margin: 0 20px;
      }
    }
  }
}

.proposedProcedureOverview {
  table {
    table-layout: fixed;
    margin-top: 25px;
    &:first-of-type {
      margin-top: 0;
    }
    caption {
      font-weight: bold;
      background-color: #eee;
      color: black;
      text-align: center;
    }
    .prefix {
      width: 175px;
    }
    .initiator {
      width: 200px;
    }
    .explanation {
      font-size: 0.8em;
      margin-top: 5px;
      color: #888;
    }
  }
}

.agreeToProposal {
  background-color: #f8faf8;
  border: solid 1px #eee;
  border-radius: 4px;
  margin: 0 20px 30px;

  h2 {
    margin: 0;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #ded;
  }
  .holder {
    display: flex;
    > * {
      flex: 1;
      padding: 10px;
    }
  }
  .status {
    .head {
      font-weight: bold;
    }
    .description {
      margin-bottom: 10px;
    }
  }
  .agreement {
    .agreed {
      color: green;
    }
  }
}