@charset "UTF-8";

$OpenSansPath: "../fonts/OpenSans/fonts";
$colorGreenDark: rgb(40, 95, 25);
$colorGreenLight: rgb(175, 203, 8);
$colorGreenLightText: rgb(162, 188, 4);
$colorDelLink: #FF7777;
$colorMagenta: rgb(226, 0, 122);
$brand-primary: $colorMagenta;

@import "mixins";
@import "bootstrap-3.3.5-sass/bootstrap/variables";
