.currentDebateInline, .currentDebateAdmin {
  .nothingDebated {
    margin: 10px 0;
    text-align: center;
    font-style: italic;
    color: #777;
  }

  .debatedItem {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

    .title {
      font-size: 20px;
    }

    .proposer {
      font-size: 12px;

      .fulltextLink {
        margin-left: 10px;
      }
    }
  }
}

.currentDebateInline {
  .secondaryMotionRow {
    border-top: solid 1px #ccc;
    display: flex;
    width: 100%;

    .raisedSecondaryMotions {
      text-align: left;
      flex-basis: 66%;

      .noSecondaryMotion {
        font-style: italic;
        color: #777;
      }
    }

    .raiseSecondaryMotion {
      text-align: right;
      flex-basis: 34%;
      align-self: center;
    }
  }
}

.currentDebateAdmin {
  .debateAdminTabs {
    display: flex;
    flex-direction: row;
    width: 100%;

    .tab {
      flex: 1 1 25%;
      text-align: center;
      background: none;
      border: none;
      padding: 7px 5px;
      color: green;

      &.active {
        font-weight: bold;
        color: inherit;
      }
    }
  }

  .debatedItem .stopDebateBtn {
    margin-top: 5px;
  }

  .startDebateTitle {
    font-weight: bold;
    margin: 15px 0 10px;
  }

  .selectRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

    .rowLabel {
      width: 170px;
      flex-shrink: 0;
      font-weight: normal;
      margin-bottom: 0;
    }

    .rowSelect {
      width: 360px;

      select {
        max-width: 100%;
      }
    }

    .rowButton {
      margin-left: 10px;
    }
  }

  .underConstruction {
    text-align: center;
    font-style: italic;
    color: #777;
    padding: 20px 0;
  }
}
