html {
  height: 100%;
}

body {
  font-family: $bodyFont;
  height: 100%;

  &.fullscreen {
    .container {
      width: auto;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

blockquote {
  margin: 3px 3px 3px 15px;
  border-left: dotted 2px gray;
  padding: 5px;
}

p, ul {
  margin-bottom: 10px;
}

a {
  text-decoration: $linkTextDecoration;
  color: $colorLinksLight;
  &:hover {
    text-decoration: $linkTextDecoration;
    color: lighten($colorLinksLight, 15%);
  }
  &.btn {
    text-decoration: none;
  }
}

del, ul.deleted, ol.deleted, blockquote.deleted, pre.deleted, div.deleted, p.deleted, h1.deleted, h2.deleted, h3.deleted, h4.deleted, h5.deleted {
  color: #880000;
  text-decoration: line-through;
}

ins, ul.inserted, ol.inserted, blockquote.inserted, pre.inserted, div.inserted, p.inserted, h1.inserted, h2.inserted, h3.inserted, h4.inserted, h5.inserted {
  color: #008800;
  text-decoration: underline;
}

del.space, ins.space, del.formatting, ins.formatting {
  font-style: italic;
  font-size: 0.8em;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

label {
  input, textarea {
    font-weight: normal;
  }
}


button.link {
  background: transparent;
  border: none;
  align-items: normal;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  height: auto;
  padding: 0;
  perspective-origin: 0 0;
  text-align: start;
  transform-origin: 0 0;
  width: auto;
  -moz-appearance: none;
  -webkit-logical-height: 1em;
  -webkit-logical-width: auto;
  box-sizing: content-box; // Otherwise the text of the delete button gets invisible on Safari
}
@supports (-moz-appearance:none) {
  button.link::-moz-focus-inner {
    border: none;
    padding: 0;
  }
  button.link:focus {
    outline-style: dotted;
    outline-width: 1px;
  }
}

.stdDropdown {
  display: block;
  width: 100%;
  padding: $padding-base-vertical $padding-base-horizontal;
  margin: 0;
  font-family: inherit;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  word-wrap: normal;
  text-transform: none;
  transition: border ease-in-out 0.15s,box-shadow ease-in-out 0.15s;

  &:focus {
    box-shadow: 0 0 3px 2px $focusShadowColor;
    transition: border ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    outline: none;
  }
  &.fullsize {
    width: 100%;
  }
}
