
@font-face {
  font-family: 'icons_antragsgruen';
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot?#iefix") format('embedded-opentype'), url("../fonts/fontello.woff") format('woff'), url("../fonts/fontello.ttf") format('truetype'), url("../fonts/fontello.svg#icons_antragsgruen") format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-comment {
  content: '\e718';
}

.icon-bell {
  content: '\1f514';
}

.icon-feed {
  content: '\e73a';
}

.icon-attachment {
  content: '📎';
}

.icon-edit {
  content: '\270d';
}

.icon-document {
  content: '\e731';
}

.icon-back {
  content: "←";
}

.icon-pdf {
  content: '\e4a4';
}

.icon-plus {
  content: '\2795';
}


.icon-down-open:before, .icon-up-open:before {
  font-family: icons_antragsgruen;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7;
}

.icon-aender-stellen:before,
.icon-pdf:before {
  @extend .icon-edit;
  @include icons-antragsgruen(15px);
  width: 24px;
  /*
  color: #fff;
  margin-left: 0;
  */
}

.icon-aender-stellen:before {
  @extend .icon-plus;
}

.icon-pdf:before {
  @extend .icon-pdf;
}

.btn .icon-pdf:before {
  color: #000000;
}

