@charset "UTF-8";

@import "variables";

@mixin border-radius-top {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

@mixin border-radius-bottom {
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin linear-gradient($deg, $color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient($deg, $color1 0%, $color2 100%);
  background: -webkit-linear-gradient($deg, $color1 0%, $color2 100%);
  background: -o-linear-gradient($deg, $color1 0%, $color2 100%);
  background: -ms-linear-gradient($deg, $color1 0%, $color2 100%);
  background: linear-gradient($deg, $color1 0%, $color2 100%);
}

@mixin stdHeading($textColor, $gradientFrom) {
  margin: 0;
  color: $textColor;
  @include linear-gradient(90deg, $gradientFrom, lighten($gradientFrom, 2.3%));
  padding: 5px 20px 5px;
  font-family: $headingFont;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

@mixin motionParagraphStd() {
  position: relative;
  margin-left: 0;
  text-rendering: optimizeLegibility;
  font-size: $motionStdFontSize;

  span.underline {
    border-bottom: solid 1px black;
  }
  span.strike {
    text-decoration: line-through;
  }
  span.subscript {
    // @TODO
  }
  span.superscript {
    // @TODO
  }
  h2 {
    margin: 0;
    font-size: 1.6em;
  }
  h3 {
    margin: 0;
    font-size: 1.4em;
  }
  h4 {
    margin: 0;
    font-size: 1.2em;
  }

  .amendmentRef {
    font-size: 0.8em;
    opacity: 0.7;
  }

  &.fixedWidthFont {
    font-family: $motionFixedFont;
    //letter-spacing: -0.5px;
    color: $motionFixedFontColor;
  }
}

@mixin motionParagraphBlockquote() {
  font-size: $motionStdFontSize;
  padding-left: $fixedWidthTextQuotePadding;
  border-left-width: $fixedWidthTextQuoteBorder;
}

