@charset "UTF-8";

@import "variables";

@mixin motionListStdMotion($titleFontSize) {
  .motion {
    position: relative;
    &:last-child {
      padding-bottom: 0;
    }

    > .date {
      color: #757676;
      margin-left: 20px;
      position: absolute; // no float, otherwise height gets recalculated wrong when sorting agenda items
      top: 12px;
      right: 12px;
    }

    > .title {
      margin-bottom: 3px;

      .motionIcon {
        width: 27px;
        margin-left: -30px;
        color: $colorGreenLight;
      }

      a {
        color: $colorGreenDark;
        font-weight: bold;
        font-size: $titleFontSize;
        line-height: $titleFontSize + 2;
        text-indent: 0;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        &:hover, &:focus {
          color: rgb(73, 127, 55);
        }
      }

      .pdfLink {
        font-size: 13px;
        color: $colorGreenLightText;
        margin-left: 10px;
        display: inline-block;
        font-weight: normal;
        a:hover {
          text-decoration: none;
          color: rgb(198, 214, 78);
        }
      }
    }

    &.withdrawn {
      > .title {
        text-decoration: line-through;
        .status {
          text-decoration: none;
        }
      }
    }
  }

  ul.amendments {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      margin-bottom: 3px;
      position: relative;
      &.withdrawn {
        text-decoration: line-through;
      }
      > a {
        font-weight: bold;
        margin-right: 5px;
      }
      > .date {
        color: #757676;
        display: block;
        margin-left: 20px;
        position: absolute; // no float, otherwise height gets recalculated wrong when sorting agenda items
        top: 0;
        right: -8px;
      }
    }
  }
}

.motionListStd {
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  @include motionListStdMotion(16px);


  &.layout1 {
    .motion {
      padding: 12px 20px 17px 50px;

      > .date {
        display: block;
      }
      > .title {
        padding-right: 65px;
        .motionPrefix {
          display: inline-block;
          &:after {
            content: ':';
          }
        }
      }
      .info {
        font-style: italic;
        color: rgb(115, 115, 115);
      }
    }
    h4.amendments {
      display: none;
    }
    ul.amendments {
      > li {
        > .date {
          display: block;
        }
      }
    }
  }

  &.layout2 {
    .motion {
      padding: 12px 30px 17px 30px;

      > .date {
        display: none;
      }
      > .title {
        font-family: $stdHeadingFont;
        .motionIcon {
          display: none;
        }
        .motionPrefix {
          width: 90px;
          position: absolute;
          left: 30px;
          top: 13px;
        }
        .motionTitle {
          display: inline-block;
          margin-left: 95px;
        }
        .pdfLink {
          display: none;
        }
      }
      .info {
        margin-left: 95px;
      }
    }
    ul.amendments {
      margin-bottom: 10px;
      > li {
        > a {
          position: absolute;
          left: 0;
          top: 0;
        }
        > .date {
          display: none;
        }
      }
    }
    h4.amendments {
      margin-top: 10px;
      margin-bottom: 5px;
      font-family: $stdHeadingFont;
      font-size: 14px;
      font-weight: bold;
      color: $colorGreenLight;
    }
  }
}

.motionListAgenda {
  list-style-type: none;
  margin: 15px 0 0;
  padding: 0;
  position: relative;

  ol {
    list-style-type: none;
    margin: 0 0 0 30px;
    padding: 0;
  }
  ul.motions {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .agendaItemAdder {
    padding-left: 35px;
    margin-bottom: 0;
    margin-top: -4px;
  }
  html.no-touch & .agendaItemAdder {
    visibility: hidden;
  }
  html.no-touch &:hover > .agendaItemAdder, html.no-touch & ol.agenda:hover > .agendaItemAdder {
    visibility: visible;
  }

  li.agendaItem {
    border: solid 1px transparent; // Otherwise: strange behavior when moving items
    padding-left: 20px;

    > div {
      margin-bottom: 5px;
      padding: 5px 10px 10px;

      > h3 {
        position: relative;
        .delAgendaItem, .delAgendaItem:link, .delAgendaItem:visited {
          color: $colorDelLink;
          position: absolute;
          top: 0;
          right: 0;
        }
        html.no-touch & .delAgendaItem {
          visibility: hidden;
        }
        html.no-touch &:hover .delAgendaItem {
          visibility: visible;
        }

        .editAgendaItem {
          font-size: 0.7em;
          margin-left: 10px;
        }
        html.no-touch & .editAgendaItem {
          visibility: hidden;
        }
        html.no-touch &:hover .editAgendaItem {
          visibility: visible;
        }
      }

      .agendaItemEditForm {
        display: none;

        input.code {
          width: 80px;
          margin-right: 10px;
        }
        input.title {
          width: 250px;
          margin-right: 10px;
        }
        .agendaMotionsRow {
          padding-top: 5px;
          font-size: 0.8em;
          color: gray;
        }
      }

      .motionCreateLink {
        float: right;
      }
    }

    &.editing {
      > div > h3 {
        display: none;
      }
      > div > .agendaItemEditForm {
        display: block;
      }
      > ol > .agendaItemAdder {
        visibility: hidden !important;
      }
    }
  }

  &.agendaListEditing {
    padding-top: 20px;
    padding-bottom: 20px;
    li.agendaItem {
      > div {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
      }
    }
  }
  h2, h3 {
    margin: 0 0 5px;
    font-size: 18px;
  }
  .moveHandle {
    float: left;
    font-size: 1.5em;
    color: lightgrey;
    margin-left: -27px;
    cursor: move;
  }
  html.no-touch & li.agendaItem > div > .moveHandle {
    display: none;
  }
  html.no-touch & li.agendaItem:hover > div > .moveHandle {
    display: block;
  }

  .movePlaceholder {
    border: dotted 1px gray;
  }

  @include motionListStdMotion(14px);
}

.motionListTags {
  #tagList {
    display: block;
    list-style-type: none;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    > li {
      display: inline-block;
      padding: 10px;
      background-color: #e2007a;
      border-radius: 3px;
      font-size: 16px;
      margin: 10px;

      > a:link, #tag_list > li > a:visited {
        color: white;
      }
    }
  }

  .motionTable {
    width: 100%;

    th {
      border-bottom: solid 1px $colorGreenLight;
      font-size: 0.80em;
      line-height: 2.5em;
      font-weight: 600;
    }
    td {
      vertical-align: top;
      padding: 0.75em 0em 0.75em 0em;
    }
    tr.motion {
      border-top: solid 1px $colorGreenLight;
      &:first-child {
        border-top: none;
      }
    }
    tr.amendment {
      .titleCol {
        .pdfLink {
          font-weight: 400;
        }
        .titleLink {
          font-weight: 400;
        }
      }
    }
    .prefixCol {
      width: 15%;
    }
    .titleCol {
      width: 45%;

      .pdfLink {
        font-weight: 600;
        font-size: 0.8em;
        float: right;
        margin-right: 20px;
      }
      .titleLink {
        font-weight: 600;
        a:link, a:visited {
          color: black;
        }
      }
    }
    .initiatorCol {
      width: 35%;
    }
    .unscreened {
      .titleCol {
        .pdfLink {
          display: none;
        }
        .titleLink {
          a:link, a:visited {
            font-weight: 400;
            color: gray;
          }
        }
      }
    }
  }
}

.motionTextHolder {
  .well & > h3.green {
    margin-bottom: 22px;
  }
  .paragraph {
    font-size: 14px;
    clear: both;
    position: relative;

    &.smallFont {
      font-size: 12px;
    }

    .text {
      @include motionParagraphStd;

      .lineNumber {
        position: relative;
        left: $lineNumberOffset + -1 * $fixedWidthTextStdPadding;
        width: 0;
        display: inline-block;
      }
      .lineNumber:after {
        content: attr(data-line-number);
        color: #C3C3C3;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
      }

      > ul, > ol {
        padding-left: $fixedWidthTextListPadding;

        .lineNumber {
          left: $lineNumberOffset + -1 * ($fixedWidthTextListPadding + $fixedWidthTextStdPadding);
        }
      }

      > blockquote {
        @include motionParagraphBlockquote();
        margin-left: $fixedWidthTextQuoteMargin;

        .lineNumber {
          left: $lineNumberOffset + -1 * ($fixedWidthTextStdPadding + $fixedWidthTextQuotePadding +
            $fixedWidthTextQuoteBorder + $fixedWidthTextQuoteMargin);
        }
      }

      &.smallFont {
        font-size: 12px;
        > blockquote {
          font-size: 12px;
        }
      }
    }

    h4.lineSummary {
      font-size: inherit;
      font-weight: bold;
      margin: 0;
    }

    .textAmendment {
      width: 733px;
      position: relative;
      del, ul.deleted, blockquote.deleted {
        color: #ff0000;
        text-decoration: line-through;
      }
      ins, ul.inserted, blockquote.inserted {
        text-decoration: underline;
      }
      .preamble {
        position: absolute;
        top: -20px;
        height: 30px;
        color: $colorGreenLight;
        width: 100%;
        > div {
          position: absolute;
          bottom: 0;
          left: 0;
          max-height: 30px;
          padding-right: 50px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          h3 {
            font-size: 14px;
            display: inline-block;
            margin: 0;
            font-weight: bold;
          }
          .moreAffected {
            font-style: italic;
            font-size: 0.8em;
            margin-top: -3px;
            color: #bbccbb;
          }
        }
      }
    }
  }
  .tabularData {
    > tbody > tr:first-child {
      > td, > th {
        border-top: none;
      }
    }
  }
  &.fourdigitsLineNumbers .paragraph .text {
    .lineNumber {
      left: $lineNumberOffset4 + -1 * $fixedWidthTextStdPadding;
    }
    > ul, > ol {
      .lineNumber {
        left: $lineNumberOffset4 + -1 * ($fixedWidthTextListPadding + $fixedWidthTextStdPadding);
      }
    }
    > blockquote {
      .lineNumber {
        left: $lineNumberOffset4 + -1 * ($fixedWidthTextStdPadding + $fixedWidthTextQuotePadding +
            $fixedWidthTextQuoteBorder + $fixedWidthTextQuoteMargin);
      }
    }
  }
}

.bookmarks {
  float: right;
  width: 1px;
  list-style-type: none;
  padding: 0;
  margin-top: 15px;

  > li {
    width: 1px;
    height: 38px;
    position: relative;
    margin-bottom: 4px;

    > a {
      display: block;
      position: absolute;
      white-space: nowrap;
      padding: 10px;
      top: 0;
      left: 2px;
      color: #fff;
      min-width: 40px;
      -moz-border-radius-topright: 10px;
      -webkit-border-top-right-radius: 10px;
      border-top-right-radius: 10px;
      -moz-border-radius-bottomright: 10px;
      -webkit-border-bottom-right-radius: 10px;
      border-bottom-right-radius: 10px;
      font-weight: bold;
      /*
      &:before {
        @include icons-antragsgruen(15px);
        font-weight: bold;
        color: #fff;
      }
      */
    }
    &.comment > a {
      @include linear-gradient(90deg, $colorMagenta, rgb(234, 74, 161));
      &.zero {
        opacity: 0.5;
      }
      .count:after {
        content: attr(data-count);
        padding-left: 4px;
      }
    }
    &.amendment > a {
      @include linear-gradient(90deg, $colorGreenLight, rgb(185, 209, 38));
    }
    .hider {
      @include linear-gradient(90deg, rgb(180, 180, 180), rgb(220, 220, 220));
    }
  }
}

.commentForm {
  margin-top: 20px;
  margin-bottom: 20px;

  > label {
    display: block;
    text-align: center;
  }

  .submitrow {
    text-align: center;
  }
}

.motionComment {
  h3 {
    background: none;
    color: $colorGreenLightText;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 5px 0;
    text-transform: none;
    padding: 0;
  }

  .date {
    color: #757676;
    float: right;
    margin-left: 20px;
  }

  .commentBottom {
    margin-top: 10px;
    height: 30px;
    .commentLink {
      float: right;
    }
  }

  .delLink {
    float: right;
    margin-left: 20px;

    a:link, a:visited {
      color: #ccc;
      &:hover, &:focus {
        color: #bbb;
      }
    }
  }
}

.commentSupporterHolder {
  float: left;
  .likes, .dislikes {
    display: inline-block;
    border: solid 1px lightgray;
    margin: 1px;
    padding: 2px;
    @include border-radius(3px);
  }
  .likes span, .dislikes span {
    color: lightgray;
  }
  button.likes:hover {
    background-color: #A2BC04;
  }
  button.dislikes:hover {
    background-color: red;
  }
  button {
    background-color: transparent;
  }
  .currently {
    display: inline-block;
  }
  .revoke {
    text-align: center;
    display: none;
  }
  .mine {
    display: inline-block;
    height: 20px;
    width: 240px;
    position: relative;
  }
  .mine:hover .revoke {
    display: inline-block;
  }
  .mine:hover .momentan {
    display: none;
  }
  .currently, .revoke {
    position: absolute;
    top: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
    font-size: 10px;
    height: 20px;
    width: 240px;
    border: solid 1px gray;
    @include border-radius(3px);
    background-color: #eee;
  }
}

.withdrawForm {
  text-align: center;
  .ask {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}