@charset "UTF-8";

@import "variables";

.motionTextFormattings {
  position: relative;
  margin-left: 0;
  text-rendering: optimizeLegibility;
  font-size: $motionStdFontSize;

  span.underline {
    border-bottom: solid 1px black;
  }
  span.strike {
    text-decoration: line-through;
  }
  span.subscript {
    // @TODO
  }
  span.superscript {
    // @TODO
  }
  h2 {
    margin: 0;
    font-size: 1.6em;
  }
  h3 {
    margin: 0;
    font-size: 1.4em;
  }
  h4 {
    margin: 0;
    font-size: 1.2em;
  }

  .amendmentRef {
    font-size: 0.8em;
    opacity: 0.7;
  }

  &.fixedWidthFont {
    font-family: $motionFixedFont;
    //letter-spacing: -0.5px;
    color: $motionFixedFontColor;
  }

  .lineNumber {
    position: relative;
    left: $lineNumberOffset + -1 * $fixedWidthTextStdPadding;
    width: 0;
    display: inline-block;
    float: left; // otherwise problems appear at li > p constucts
  }
  .lineNumber:after {
    content: attr(data-line-number);
    color: #C3C3C3;
    font-size: $motionStdFontSize;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
  }
  > ul, > ol {
    padding-left: $fixedWidthTextListPadding;

    .lineNumber {
      left: $lineNumberOffset + -1 * ($fixedWidthTextListPadding + $fixedWidthTextStdPadding);
    }
    ul, ol {
      .lineNumber {
        left: $lineNumberOffset + -1 * (2 * $fixedWidthTextListPadding + $fixedWidthTextStdPadding);
      }
      ul, ol {
        .lineNumber {
          left: $lineNumberOffset + -1 * (3 * $fixedWidthTextListPadding + $fixedWidthTextStdPadding);
        }
        ul, ol {
          .lineNumber {
            left: $lineNumberOffset + -1 * (4 * $fixedWidthTextListPadding + $fixedWidthTextStdPadding);
          }
        }
      }
    }
  }
  .fourdigitsLineNumbers & {
    .lineNumber {
      left: $lineNumberOffset4 + -1 * $fixedWidthTextStdPadding;
    }
    > ul, > ol {
      .lineNumber {
        left: $lineNumberOffset4 + -1 * ($fixedWidthTextListPadding + $fixedWidthTextStdPadding);
      }
    }
    > blockquote {
      .lineNumber {
        left: $lineNumberOffset4 + -1 * ($fixedWidthTextStdPadding + $fixedWidthTextQuotePadding +
            $fixedWidthTextQuoteBorder + $fixedWidthTextQuoteMargin);
      }
    }
  }

  > blockquote {
    @include motionParagraphBlockquote();
    margin-left: $fixedWidthTextQuoteMargin;

    .lineNumber {
      left: $lineNumberOffset + -1 * ($fixedWidthTextStdPadding + $fixedWidthTextQuotePadding +
            $fixedWidthTextQuoteBorder + $fixedWidthTextQuoteMargin);
    }
  }

  &.smallFont {
    font-size: 12px;
    > blockquote {
      font-size: 12px;
    }
  }
}

.motionTextHolder {
  .well & > h3.green {
    margin-bottom: 22px;
  }
  .paragraph {
    font-size: 14px;
    clear: both;
    position: relative;

    &.smallFont {
      font-size: 12px;
    }

    .text {
      padding: 15px 10px 15px $fixedWidthTextStdPadding;
      &.collidingAmendment {
        margin-top: -20px;
        > h3 {
          font-size: 1.2em;
          margin-top: 0;
        }
      }
    }

    h4.lineSummary {
      font-size: inherit;
      font-weight: bold;
      margin: 0;
    }
  }
  .textAmendment {
    width: $motionFixedWidth;
    position: relative;
    del, ul.deleted, ol.deleted, blockquote.deleted, pre.deleted {
      color: #ff0000;
      text-decoration: line-through;
    }
    ins, ul.inserted, ol.inserted, blockquote.inserted, pre.inserted {
      text-decoration: underline;
    }
    .preamble {
      position: absolute;
      top: -($inlineAmendmentPreambleHeight - 10);
      height: $inlineAmendmentPreambleHeight;
      color: $inlineAmendmentPreambleColor;
      width: 100%;
      > div {
        position: absolute;
        bottom: 0;
        left: 0;
        max-height: $inlineAmendmentPreambleHeight;
        padding-right: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        h3 {
          font-size: 14px;
          display: inline-block;
          margin: 0;
          font-weight: bold;
        }
        .moreAffected {
          font-style: italic;
          font-size: 0.8em;
          margin-top: -3px;
          color: #bbccbb;
        }
      }
    }
    .movedParagraphHint {
      font-style: italic;
      font-size: 0.8em;
      margin-top: 3px;
      color: #bbccbb;
    }
  }
  .tabularData {
    > tbody > tr:first-child {
      > td, > th {
        border-top: none;
      }
    }
  }
}

.bookmarks {
  float: right;
  width: 1px;
  list-style-type: none;
  padding: 0;
  margin-top: 5px;

  > li {
    width: 1px;
    height: 38px;
    position: relative;
    margin-bottom: 4px;

    > a {
      display: block;
      position: absolute;
      white-space: nowrap;
      padding: 10px;
      top: 0;
      left: 2px;
      color: $bookmarkAmendmentText;
      min-width: 40px;
      -moz-border-radius-topright: 10px;
      -webkit-border-top-right-radius: 10px;
      border-top-right-radius: 10px;
      -moz-border-radius-bottomright: 10px;
      -webkit-border-bottom-right-radius: 10px;
      border-bottom-right-radius: 10px;
      font-weight: bold;
    }
    &.comment > a {
      @include linear-gradient(90deg, $bookmarkCommentColor, lighten($bookmarkCommentColor, 3.5%));
      &.zero {
        opacity: 0.5;
      }
      .count:after {
        content: attr(data-count);
        padding-left: 4px;
      }
    }
    &.amendment > a {
      @include linear-gradient(90deg, $bookmarkAmendmentBackground, lighten($bookmarkAmendmentBackground, 3.5%));
    }
    .hider {
      @include linear-gradient(90deg, rgb(180, 180, 180), rgb(220, 220, 220));
    }
  }
}

.commentScreeningQueue {
  margin-left: 50px;
  color: darkgray;
}

.motionComment {
  border: solid 1px $commentBorder;
  background: $commentBackground;
  border-radius: 3px;
  margin: 15px 20px 30px;

  .commentHeader {
    background: none;
    color: $colorLinksLight;
    font-family: $bodyFont;
    font-size: 1em;
    font-weight: bold;
    line-height: 18px;
    margin: 0;
    text-transform: none;
    padding: $commentPadding;
  }

  .commentWriteHeader {
    border-bottom: solid 1px $commentBackground;
    font-size: 1.2em;
  }

  .commentText {
    padding: 0 $commentPadding $commentPadding $commentPadding;
  }

  .commentName {
    padding: 0 $commentPadding $commentPadding $commentPadding;
  }

  .commentFullTextarea {
    padding: 0 $commentPadding $commentPadding $commentPadding;
  }

  .date {
    color: #757676;
    float: right;
    padding: $commentPadding;
    margin-left: 20px;
  }

  .commentBottom {
    height: 23px;
    position: relative;
    .entry {
      position: absolute;
      bottom: -1px;
      height: 24px;
      font-size: 12px;
      border-top: solid 1px $commentBorder;
      text-align: center;
      font-weight: normal;
    }
    .link {
      left: -1px;
      padding: 2px;
      width: 24px;
      border-right: solid 1px $commentBorder;
      border-top-right-radius: 3px;
    }
    .replyButton {
      right: -1px;
      padding: 2px 5px;
      border-left: solid 1px $commentBorder;
      border-top-left-radius: 3px;
    }
    .delLink {
      color: red;
      left: 3px;
      width: 24px;
      border-right: solid 1px $commentBorder;
      border-top-right-radius: 3px;
    }
    .delLink + .link {
      border-top-right-radius: 0;
    }
  }

  .delLink {
    float: right;
    margin-left: 20px;

    a:link, a:visited {
      color: #ccc;
      &:hover, &:focus {
        color: #bbb;
      }
    }
  }

  .screening {
    > * {
      display: inline-block;
      width: 49%;
      text-align: center;
    }
  }

  > label {
    display: block;
    text-align: center;
  }

  &.form-horizontal .form-group {
    margin-right: $commentPadding;
    margin-left: $commentPadding;
    > * {
      padding-right: 0;
    }
  }

  .submitrow {
    padding: $commentPadding;
    text-align: center;
  }
}

.commentSupporterHolder {
  float: left;
  .likes, .dislikes {
    display: inline-block;
    border: solid 1px lightgray;
    margin: 1px;
    padding: 2px;
    @include border-radius(3px);
  }
  .likes span, .dislikes span {
    color: lightgray;
  }
  button.likes:hover {
    background-color: #A2BC04;
  }
  button.dislikes:hover {
    background-color: red;
  }
  button {
    background-color: transparent;
  }
  .currently {
    display: inline-block;
  }
  .revoke {
    text-align: center;
    display: none;
  }
  .mine {
    display: inline-block;
    height: 20px;
    width: 240px;
    position: relative;
  }
  .mine:hover .revoke {
    display: inline-block;
  }
  .mine:hover .momentan {
    display: none;
  }
  .currently, .revoke {
    position: absolute;
    top: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
    font-size: 10px;
    height: 20px;
    width: 240px;
    border: solid 1px gray;
    @include border-radius(3px);
    background-color: #eee;
  }
}

.withdrawForm {
  text-align: center;
  .ask {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

.sectionType0 + .motionTextHolder {
  // Don't let amendment markers be hidden behind the next section
  clear: both;
}

.sectionType3 { // Images
  padding: 10px;
  img {
    max-height: 200px;
    max-width: 100%;
  }
}

.motionRightCol {
  padding-left: 0;
  padding-top: 0;
  &.col-md-3 {
    padding-left: 0;
    padding-top: 0;
  }

  > section {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 20px;
  }
}

iframe.pdfViewer {
  width: 100%;
  height: 600px;
  border: none;
}

.sectionType5 { // PDFs
  margin-left: -1px;
  margin-right: -1px;
}

.share_buttons {
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    height: 30px;
    display: inline-block;
    margin-right: 14px;
    overflow: hidden;
    width: 103px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-family: Arial, Helvetica, sans-serif;
      color: #fff;
      position: relative;
      display: block;
      padding-left: 10px;
      padding-right: 5px;
      font-size: 12px;
      line-height: 31px;
      text-decoration: none;
      border: 1px solid #ddd;
      background-color: #fff;
      &:hover {
        background-color: #eee;
      }
    }
    &.facebook {
      a {
        color: #247bbd;
        padding-left: 5px;
        .icon {
          font-size: 17px;
        }
      }
    }
    &.twitter {
      a {
        color: #247bbd;
        .icon {
          font-size: 20px;
        }
      }
    }
  }
}

#amendmentMergeForm {
  #motionTitlePrefix, .dropdown-toggle {
    max-width: 230px;
  }
  .checkButtonRow {
    text-align: center;
    margin: 20px 0;
  }
  .otherAmendmentStatus {
    .row {
      margin-bottom: 15px;
    }
    .by {
      display: block;
      font-size: 0.8em;
    }
    .amendmentAjaxTooltip {
      float: right;
      color: gray;
      margin-right: -15px;
      margin-top: 7px;
    }
  }
  .affectedParagraphs {
    .paragraph.unmodified .affectedBlock {
      display: none;
    }
    .paragraph.modified .unmodifiedVersion {
      display: none;
    }
  }
  .affectedBlock {
    margin-top: 20px;

    > textarea {
      display: none;
    }
  }
  .modifySelector {
    margin-top: 15px;
    label {
      margin-right: 20px;
      font-weight: normal;
    }
  }
  .save-row {
    text-align: center;
  }
  .saveholder {
    .checkAmendmentCollissions {
      display: none;
    }
  }
}

.amendmentCollissionsHolder {
  .amendmentBy {
    color: gray;
  }
  .amendmentOverrideBlock {
    background-color: #f5f5f5;
    margin: 15px -10px;
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 4px;

    > h3 {
      font-size: 18px;
      margin-top: 0;
    }

    > textarea {
      display: none;
    }
  }
}

.motionChangeView {
  .notDisplayable {
    color: red;
  }
  .noChanges {
    color: gray;
  }
  .motionDataTable {
    margin-bottom: 25px;
  }
}