.projectorWidget {
  background-color: white;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  > header {
    @include stdHeading($headingPrimaryText, $headingPrimaryBackground, $headingPrimarySize);
    flex-grow: 0;

    .stdDropdown {
      background: transparent;
      color: white;
      padding-top: 2px;
      padding-bottom: 2px;
      line-height: 1.1;
    }
  }

  > main {
    flex-grow: 1;
    overflow: auto;
    padding: 0 3vw 0 3vw;
  }

  .imotionSelector {
    float: right;
  }

  h1 {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }

  .motionTextFormattings {
    font-size: 1.6vw;
  }
}
