.speechAdmin {
  $slotWidth: 240px;
  $markerWidth: 500px;

  $backgroundInactive: #f0f0f0;
  $borderInactive: darken($backgroundInactive, 20%);

  .settings {
    display: flex;
    flex-direction: row;

    > * {
      flex: 1;
    }
  }

  .previousSpeakers {
    margin: 0 auto;
    width: 400px;
    border: solid 1px $borderInactive;
    background-color: $backgroundInactive;

    > header {
      background-color: $backgroundInactive;
      padding: 5px;
      position: relative;

      .btn {
        position: absolute;
        right: 0;
        top: 0;
        font-weight: normal;
      }
    }

    &.previousShown > header {
      background-color: darken($backgroundInactive, 5%);

      .btn-link {
        color: darken($link-color, 10%);
      }
    }

    .previousLists {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .previousList {
      flex: 1;

      header {
        text-align: center;

        span {
          border-bottom: solid 1px grey;
        }
      }

      ol {
        text-align: left;
      }
    }
  }

  .slots, .previousList {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: $slotWidth;
  }

  .slotEntry {
    margin: 10px 0;
    border: solid 1px $borderInactive;
    border-radius: 3px;
    background-color: $backgroundInactive;
    min-height: 75px;
    padding: 10px;
    position: relative;

    .name {
      font-weight: bold;
    }

    .statusActive {
      font-style: italic;
    }

    .statusUpcoming {
      font-style: italic;
    }

    .start, .stop {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    &.isActive {
      background-color: #d3ffd3;
    }
  }

  .slotPlaceholder {
    position: relative;
    margin: 10px 0;
    border: dotted 1px $borderInactive;
    border-radius: 3px;
    background-color: $backgroundInactive;
    min-height: 60px;
    padding: 18px 10px 10px 10px;
    cursor: pointer;
    text-align: center;

    .title {
      font-style: italic;
    }

    @include outlineOnFocusHasBorder();

    &:hover, &:focus {
      background-color: darken($backgroundInactive, 5%);
    }
  }

  .isUpcoming:before {
    content: '';
    position: absolute;
    height: 1px;
    width: $markerWidth;
    top: -6px;
    left: ($slotWidth - $markerWidth) / 2;
    border-bottom: dotted 1px gray;
  }

  .subqueues {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
  }

  .subqueue {
    width: 230px;

    > header {
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: solid 3px lightgrey;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }

    .empty {
      font-style: italic;
    }
  }

  .subqueueItems {
    list-style-type: none;
    margin: 0 auto;
    padding: 0 15px;
  }

  .subqueueItem {
    margin: 10px 0;
    border: solid 1px $borderInactive;
    border-radius: 3px;
    background-color: $backgroundInactive;
    min-height: 60px;
    padding: 10px;
    cursor: pointer;
    position: relative;

    @include outlineOnFocusHasBorder();

    &:hover, &:focus {
      background-color: darken($backgroundInactive, 5%);
    }
  }

  .operations {
    position: absolute;
    left: 0;
    bottom: 0;
    border-right: solid 1px $borderInactive;
    border-top: solid 1px $borderInactive;
    border-top-right-radius: 3px;

    .moveSubqueue, .removeSlot {
      padding: 0 5px;
      background-color: rgba(255, 255, 255, 0.5);

      @include outlineOnFocusHasBorder();

      &:hover, &:focus {
        background-color: transparent;
      }
    }

    .removeSlot {
      color: $colorDelLink;
    }
  }
}


.currentSpeechInline {
  .activeSpeaker {
    @if ($font-size-base < 16) {
      font-size: 16px;
      line-height: 1.5em;
    }
    font-weight: bold;
  }

  .upcomingSpeaker {
    margin-top: 20px;
    @if ($font-size-base < 16) {
      font-size: 16px;
      line-height: 1.5em;
    }
  }

  .upcomingSpeakerList {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;

    > * {
      display: inline;

      &:before {
        content: ', ';
        display: inline;
      }

      &:first-child:before {
        content: '';
      }
    }

    .label {
      margin-left: 5px;
    }
  }

  .waitingMultiple {
    margin-top: 20px;

    header {
      @if ($font-size-base < 16) {
        font-size: 16px;
        line-height: 1.5em;
      }
    }
  }

  .waitingSingle {
    margin-top: 10px;

    form {
      display: inline-block;
      vertical-align: middle;
    }

    .appliedMe {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .waitingSubqueues {
    margin-left: 20px;
    display: table;

    > * {
      display: table-row;
    }

    .name {
      display: table-cell;
      width: 200px;
      line-height: 35px;
      vertical-align: middle;
    }

    .applied {
      display: table-cell;
      line-height: 35px;
      vertical-align: middle;

      .number {
        display: inline-block;
        margin-right: 10px;
      }

      form {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .appliedMe {
      display: inline-block;
    }
  }
}


.currentSpeechFooter {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0;
  background: white;
  border: solid 1px #ccc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;

  $speechLineHeight: 35px;

  .widgetTitle {
    flex: 0;
    flex-basis: 170px;
    font-size: 16px;
    line-height: $speechLineHeight;
    vertical-align: middle;
    margin: 0;
    padding: 5px;
    background-color: #eee;

    &:after {
      content: ':';
      display: inline-block;
    }
  }

  .speechUser {
    flex: 1;
    padding: 5px;
  }

  .activeSpeaker {
    @if ($font-size-base < 16) {
      font-size: 16px;
    }
    line-height: $speechLineHeight;
    vertical-align: middle;
    font-weight: bold;
  }

  .waitingMultiple {
    display: flex;
    flex-direction: row;

    header {
      @if ($font-size-base < 16) {
        font-size: 16px;
      }
      line-height: $speechLineHeight;
      vertical-align: middle;
    }
  }

  .waitingSingle {
    form {
      display: inline-block;
      vertical-align: middle;
    }

    .appliedMe {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .subqueue {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    padding: 0 0 0 10px;
    background-color: #eee;
    border-radius: 3px;
    line-height: $speechLineHeight - 2px;
    vertical-align: middle;

    .name {
      font-weight: bold;
      margin-right: 7px;
    }

    .number {
      font-size: 0.8em;
      &:before {
        content: '(';
        display: inline-block;
      }
      &:after {
        content: ')';
        display: inline-block;
      }
    }

    .applyBtn {
      line-height: 20px;
      height: 23px;
      margin-top: 5px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .appliedMe {
      display: inline-block;
    }

    form {
      margin-left: 10px;
      max-width: 200px;
    }
  }
}
