#loginSamlHint, .login_saml .privacyHint {
  border-left: solid 1px #808080;
  padding-left: 10px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 0.8em;
  overflow: auto;
}

.login_saml {
  .privacyHint {
    border-left: solid 1px #808080;
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 0;
    font-size: 0.8em;
    overflow: auto;
  }
  .btn {
    float: left;
    margin-right: 30px;
  }
}

.secondFactorAdderBody {
  .setFaField {
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .captchaForm {
    margin-left: 30px;
    margin-bottom: 50px;
    margin-top: -20px;
  }
 }

.captchaHolder {
  input.form-control {
    display: inline-block;
    width: 200px;
  }
}

#usernamePasswordForm, #confirmAccountForm {
  @media (min-width: $screenMinWith) {
    width: 400px;
  }
}
#confirmAccountForm {
  .inputHolder {
    margin-bottom: 15px;
  }
  .saveResetRow {
    overflow: auto;
    .save {
      float: left;
    }
    .resend {
      float: right;
      button {
        font-weight: normal;
        font-size: 0.8em;
        font-style: italic;
      }
    }
  }
}

#conPwdForm {
  @media (min-width: $screenMinWith) {
    width: 400px;
  }

  .consultationName {
    margin-bottom: 30px;
  }
  .usernameLoginOpener button {
    margin-top: 20px;
    font-weight: normal;
  }
}

.loginUsername {
  .passwordRecovery {
    float: right;
    font-size: 0.8em;
  }
  #regConfirmation {
    font-size: 11px;
  }
}

.loginGenericSso {
  margin-bottom: 40px;

  h2 {
    margin-bottom: 0;
  }

  .content {
    max-width: 450px;
    margin: 0 auto;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  #ssoLoginForm {
    margin-bottom: 20px;
    width: 100%;

    @media (min-width: $screenMinWith) {
      width: 100%;
      max-width: 450px;
    }
  }

  .ssoLoginButton {
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .glyphicon {
      margin-right: 8px;
      font-size: 18px;
      vertical-align: middle;
    }
  }

  .ssoLoginHint {
    margin-top: 20px;
    padding: 20px !important;
    font-size: 14px;
    line-height: 1.6;
    color: #666;
    text-align: center;
    border-radius: 4px;
  }
}

.accountDeleteForm .submit {
  display: flex;
  width: 100%;

  label {
    font-weight: normal;
    flex-basis: 50%;
  }
  > div {
    flex-basis: 50%;
    text-align: right;
  }
}

.userAccountForm {
  .requestEmailChange {
    display: inline-block;
    margin-left: 10px;
    font-style: italic;
    font-size: 0.8em;
  }
  .changeRequested {
    display: block;
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .resendButton {
    color: $colorLinks;
    font-style: italic;
  }
  .btn2FaRemoveOpen {
    padding: 0;
    font-weight: normal;
    font-style: italic;
    font-size: 0.8em;
    margin-left: 16px;
  }
  .secondFactorRemoveBody {
    margin-top: 10px;
  }
}

.notificationForm {
  label {
    cursor: pointer;
  }
  input[type=checkbox] {
    margin-right: 10px;
  }
  .notificationRow {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .radioList {
    > div {
      padding-left: 27px;
    }
    label {
      display: block;
      font-weight: normal;
      margin-bottom: 10px;
    }
  }
}

.userDataExport {
  .exportRow {
    margin-top: 20px;
    text-align: center;
  }
}

.askPermissionForm {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
