$fixedWidthTextStdPadding: 50px !default;
$fixedWidthTextListPadding: 40px !default;
$fixedWidthTextQuotePadding: 15px !default;
$fixedWidthTextQuoteMargin: 38px !default;
$fixedWidthTextQuoteBorder: 2px !default;

$lineNumberOffset: 8px !default;
$lineNumberOffset4: 3px !default;

$bodyFont: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$deadlineCircleFont: 'sans-serif' !default;
$sidebarActionFont: 'sans-serif' !default;
$buttonFont: 'sans-serif' !default;
$motionFixedFont: Courier, sans-serif !default;
$motionStdFontSize: 14px !default;
$blockquote-font-size: 14px !default;

$headingFont: 'sans-serif' !default;
$headingPrimaryText: black !default;
$headingPrimaryBackground: white !default;
$headingSecondaryText: black !default;
$headingSecondaryBackground: white !default;
$headingTertiaryText: black !default;
$headingTertiaryBackground: white !default;

$menuFont: 'sans-serif' !default;
$menuLink: blue !default;
$menuActive: black !default;

$sidebarBackground: white !default;
$sidebarActionFont: 'sans-serif' !default;
$createMotionBtnColor: white !default;

$bookmarkAmendmentColor: black !default;
$bookmarkCommentColor: black !default;

$screen-lg-min: 10000px; // deaktivieren
$container-md: 1024px;
$container-desktop: 1024px;
$grid-float-breakpoint: 992px; // $screen-md-min;

$icon-font-path: "../fonts/";
