$fixedWidthTextStdPadding: 50px !default;
$fixedWidthTextListPadding: 40px !default;
$fixedWidthTextQuotePadding: 15px !default;
$fixedWidthTextQuoteMargin: 38px !default;
$fixedWidthTextQuoteBorder: 2px !default;

$lineNumberOffset: 8px !default;
$lineNumberOffset4: 3px !default;

$bodyFont: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$deadlineCircleFont: 'sans-serif' !default;
$sidebarActionFont: 'sans-serif' !default;
$topNavbarFont: 'sans-serif' !default;
$buttonFont: 'sans-serif' !default;
$breadcrumbFont: 'sans-serif' !default;
$motionFixedFont: Courier, sans-serif !default;
$stdHeadingFont: 'sans-serif' !default;
$motionStdFontSize: 14px !default;
