/*
 * From: https://github.com/ExactTarget/fuelux
 * License: MIT
 */
@use "sass:math";

@mixin wizardHeight($size) {
  ul li {
    height: $size;
    line-height: $size;
    &:before {
      border-top: math.div($size, 3) + 1px inset transparent;
      border-bottom: math.div($size, 3) + 1px inset transparent;
      border-left: math.div($size, 3) + 1px solid $wizardBorderColor;
    }
    &:after {
      border-top: math.div($size, 3) + 1px inset transparent;
      border-bottom: math.div($size, 3) + 1px inset transparent;
      border-left: math.div($size, 3) + 1px solid $wizardStepInactiveBackground;
      right: math.div(-1 * $size, 3);
    }
  }
}

.wizardWidget {
  border-bottom: 1px solid $wizardBorderColor;
  *zoom: 1;
  border-radius: 0;
  margin-left: -1px;
  margin-right: -1px;
  overflow: hidden;

  &:before,
  &:after {
    display: table;
    line-height: 0;
    content: "";
  }

  &:after {
    clear: both;
  }

  ul.steps {
    padding: 0;
    margin: 0;
    list-style: none outside none;

    li {
      position: relative;
      float: left;
      padding: 0 15px 0 30px;
      margin: 0 0 0 1px;
      font-size: 16px;
      color: $wizardStepInactiveColor;
      cursor: default;
      background: $wizardStepInactiveBackground;

      &:before {
        width: 0;
        height: 0;
        position: absolute;
        content: "";
        top: -1px;
        left: -1px;
        transform: scale(1, 1.5);
        transform-origin: top;
      }
      &:after {
        width: 0;
        height: 0;
        position: absolute;
        content: "";
        top: -1px;
        z-index: 2;
        transform: scale(1, 1.5);
        transform-origin: top;
      }

      &:first-child:before {
        border: none;
      }

      &.complete {
        color: #468847;
        background: #f3f4f5;
        &:hover {
          cursor: pointer;
          background: #e7eff8;
          .chevron:before {
            border-left: 14px solid #e7eff8;
          }
        }
        .chevron:before {
          border-left: 14px solid #f3f4f5;
        }
      }

      &.active {
        color: $wizardStepActiveColor;
        background: $wizardStepActiveBackground;
        &:after {
          border-left-color: $wizardStepActiveBackground;
        }
      }

      .badge {
        margin-right: 8px;
      }

      &:nth-child(1) {
        z-index: 10;
        padding-left: 15px;
      }

      &:nth-child(2) {
        z-index: 9;
      }

      &:nth-child(3) {
        z-index: 8;
      }

      &:nth-child(4) {
        z-index: 7;
      }

      &:nth-child(5) {
        z-index: 6;
      }

      &:nth-child(6) {
        z-index: 5;
      }

      &:nth-child(7) {
        z-index: 4;
      }

      &:nth-child(8) {
        z-index: 3;
      }

      &:nth-child(9) {
        z-index: 2;
      }

      &:nth-child(10) {
        z-index: 1;
      }
    }
  }

  .actions {
    float: right;
    padding-right: 15px;
    line-height: 44px;
    vertical-align: middle;

    a {
      margin-right: 8px;
      font-size: 12px;
      line-height: 45px;
    }

    .btn-prev i {
      margin-right: 5px;
    }

    .btn-next i {
      margin-left: 5px;
    }
  }

  @include wizardHeight(46px);
}
