@charset "UTF-8";

@import "common";
@import "../fonts/OpenSans/open-sans";
@import "base_layout";
@import "icons";

.antragsschluss_kreis {
  float: right;
  width: 105px;
  height: 105px;
  padding-top: 20px;
  @include linear-gradient(90deg, $farbe_magenta, rgb(234, 74, 161));
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 40px;
  @include border-radius(90px);
}

.motionListStd {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .motion {
    padding: 12px 20px 17px 50px;

    .date {
      color: rgb(179, 180, 180);
      display: block;
      float: right;
      margin-left: 20px;
    }

    .title {
      margin-bottom: 3px;

      &:before {
        @extend .icon-document;
        @include icons-antragsgruen('20px');
        width: 30px;
        margin-left: -30px;
        color: $farbe_hellgruen;
      }

      a {
        color: $farbe_dunkelgruen;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        text-indent: 0;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        &:hover, &:focus {
          color: rgb(73, 127, 55);
        }
      }

      .pdfLink {
        font-size: 13px;
        color: $farbe_hellgruen_text;
        margin-left: 10px;
        display: inline-block;
        font-weight: normal;
        a:hover {
          text-decoration: none;
          color: rgb(198, 214, 78);
        }
      }
    }

    .info {
      font-style: italic;
      color: rgb(115, 115, 115);
    }
  }

  .amendments {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 3px;
      &.withdrawn {
        text-decoration: line-through;
      }
      a {
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
}

.motionData {
  .motionDataTable {
    width: 100%;
  }
  .tagAdderHolder:link, .tagAdderHolder:visited {
    color: green;
  }
  #tagAdderForm {
    display: none;
  }
  .delTagForm {
    display: inline;
    button {
      background: transparent;
      border: none;
      color: red;
      font-style: italic;
      padding: 0 6px 0 3px;
    }
  }
}

$fixedWidthTextStdPadding: 50px;
$fixedWidthTextListPadding: 40px;
$fixedWidthTextQuotePadding: 15px;
$fixedWidthTextQuoteMargin: 38px;
$fixedWidthTextQuoteBorder: 2px;

$lineNumberOffset: 8px;
$lineNumberOffset4: 3px;

@mixin motionParagraphStd() {
  font-family: 'Anonymous Pro', Consolas, Courier, sans-serif;
  position: relative;
  margin-left: 0;
  padding: 15px 10px 15px $fixedWidthTextStdPadding;
  font-size: 14px;
  //letter-spacing: -0.5px;
  color: black;
  text-rendering: optimizeLegibility;
}

@mixin motionParagraphBlockquote() {
  font-size: 14px;
  padding-left: $fixedWidthTextQuotePadding;
  border-left-width: $fixedWidthTextQuoteBorder;
}

.motionTextHolder {
  h3 {
    margin-bottom: 10px;
  }
  .paragraph {
    font-size: 14px;
    clear: both;

    &.smallFont {
      font-size: 12px;
    }

    .text {
      @include motionParagraphStd;

      .lineNumber {
        position: relative;
        left: $lineNumberOffset + -1 * $fixedWidthTextStdPadding;
        width: 0;
        display: inline-block;
      }
      .lineNumber:after {
        content: attr(data-line-number);
        color: #C3C3C3;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
      }

      > ul, > ol {
        padding-left: $fixedWidthTextListPadding;

        .lineNumber {
          left: $lineNumberOffset + -1 * ($fixedWidthTextListPadding + $fixedWidthTextStdPadding);
        }
      }

      > blockquote {
        @include motionParagraphBlockquote();
        margin-left: $fixedWidthTextQuoteMargin;

        .lineNumber {
          left: $lineNumberOffset + -1 * ($fixedWidthTextStdPadding + $fixedWidthTextQuotePadding +
            $fixedWidthTextQuoteBorder + $fixedWidthTextQuoteMargin);
        }
      }

      &.smallFont {
        font-size: 12px;
        > blockquote {
          font-size: 12px;
        }
      }
    }
  }
  .tabularData {
    > tbody > tr:first-child {
      > td, > th {
        border-top: none;
      }
    }
  }
  &.fourdigitsLineNumbers .paragraph .text {
    .lineNumber {
      left: $lineNumberOffset4 + -1 * $fixedWidthTextStdPadding;
    }
    > ul, > ol {
      .lineNumber {
        left: $lineNumberOffset4 + -1 * ($fixedWidthTextListPadding + $fixedWidthTextStdPadding);
      }
    }
    > blockquote {
      .lineNumber {
        left: $lineNumberOffset4 + -1 * ($fixedWidthTextStdPadding + $fixedWidthTextQuotePadding +
            $fixedWidthTextQuoteBorder + $fixedWidthTextQuoteMargin);
      }
    }
  }
}

.wysiwyg-textarea {
  textarea {
    display: none;
  }
}

.texteditor {
  min-height: 100px;

  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  > * {
    @include motionParagraphStd();
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: $fixedWidthTextStdPadding - 40;
    margin-bottom: 5px;
  }
  > ul, ol {
    padding-left: $fixedWidthTextListPadding + $fixedWidthTextStdPadding - 40;
  }
  > blockquote {
    @include motionParagraphBlockquote;
    margin-left: $fixedWidthTextQuoteMargin + $fixedWidthTextStdPadding - 40;
  }
}

.list + .list {
  padding-top: 0;
  margin-top: -25px;
}

.motion_test_holder_nonumbers {
  blockquote.text {
    margin: 3px 3px 3px 80px;
    border-left: dotted 2px gray;
    padding: 5px;
  }
  .text {
    padding-left: 60px;
  }
}

.ae_text_holder {
  padding-left: 30px;
  padding-right: 20px;
}

.bookmarks {
  float: right;
  width: 1px;
  list-style-type: none;
  padding: 0;
  margin-top: 15px;

  > li {
    width: 1px;
    height: 38px;
    position: relative;
    margin-bottom: 2px;

    > a {
      display: block;
      position: absolute;
      white-space: nowrap;
      padding: 10px;
      top: 0;
      left: 2px;
      color: #fff;
      min-width: 40px;
      -moz-border-radius-topright: 10px;
      -webkit-border-top-right-radius: 10px;
      border-top-right-radius: 10px;
      -moz-border-radius-bottomright: 10px;
      -webkit-border-bottom-right-radius: 10px;
      border-bottom-right-radius: 10px;
      font-weight: bold;
      &:before {
        @include icons-antragsgruen(15px);
        font-weight: bold;
        color: #fff;
      }
    }
    &.comment > a {
      @include linear-gradient(90deg, $farbe_magenta, rgb(234, 74, 161));
      .count:after {
        content: attr(data-count);
        padding-left: 4px;
      }
    }
    &.amendment > a {
      @include linear-gradient(90deg, $farbe_hellgruen, rgb(185, 209, 38));
    }
    .hider {
      @include linear-gradient(90deg, rgb(180, 180, 180), rgb(220, 220, 220));
    }
  }
}

.commentForm {
  margin-top: 20px;
  margin-bottom: 20px;

  > label {
    display: block;
    text-align: center;
  }

  .submitrow {
    text-align: center;
  }
}

.motionComment {
  h3 {
    background: none;
    color: $farbe_hellgruen_text;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 5px 0;
    text-transform: none;
    padding: 0;
  }

  .date {
    color: #B3B4B4;
    float: right;
    margin-left: 20px;
  }

  .commentBottom {
    margin-top: 10px;
    height: 30px;
    .commentLink {
      float: right;
    }
  }

  .delLink {
    float: right;
    margin-left: 20px;

    a:link, a:visited {
      color: #ccc;
      &:hover, &:focus {
        color: #bbb;
      }
    }
  }
}

.commentSupporterHolder {
  float: left;
  .likes, .dislikes {
    display: inline-block;
    border: solid 1px lightgray;
    margin: 1px;
    padding: 2px;
    @include border-radius(3px);
  }
  .likes span, .dislikes span {
    color: lightgray;
  }
  button.likes:hover {
    background-color: #A2BC04;
  }
  button.dislikes:hover {
    background-color: red;
  }
  button {
    background-color: transparent;
  }
  .currently {
    display: inline-block;
  }
  .revoke {
    text-align: center;
    display: none;
  }
  .mine {
    display: inline-block;
    height: 20px;
    width: 240px;
    position: relative;
  }
  .mine:hover .revoke {
    display: inline-block;
  }
  .mine:hover .momentan {
    display: none;
  }
  .currently, .revoke {
    position: absolute;
    top: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
    font-size: 10px;
    height: 20px;
    width: 240px;
    border: solid 1px gray;
    @include border-radius(3px);
    background-color: #eee;
  }
}

.search-form label {
  display: inline-block;
  width: 220px;
  vertical-align: top;
}

#veranstaltung-form {
  input[type=text], select, textarea {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .std_content_col {
    display: inline-block;
    width: 440px;
  }
  .antragstypen_row {

  }
}

#antrag-form, #aenderungsantrag-form {
  label {
    display: inline-block;;
    width: 180px;
    vertical-align: top;

  }
  input {
    display: inline-block;
  }
  input[type=text], select, textarea {
    margin-bottom: 0;
    margin-top: 10px;
  }
  #Antrag_notiz_intern, #Aenderungsantrag_notiz_intern {
    width: 427px;
  }
}

.ae_select_confirm {
  text-align: center;
}

h3 label {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  color: inherit;
  font-family: inherit;
  margin: 0;
}

.ae_absatzwahl_modus.aenderungen_moeglich .antragabsatz_holder .text:hover {
  background-color: #eee;
  cursor: pointer;
}

.cke_skin_kama {
  border: none !important;
}

#sidebar {
  .nav-list {
    padding: 0;
    margin-bottom: 20px;

    > li {
      padding: 0 10px 10px 38px;
      a {
        color: #A2BC04;
        padding: 0;
        background: none;
        filter: none;
        margin: 0;
        text-shadow: none;
        display: inline;

        &:link, &:visited {
          color: #A2BC04;
        }

        .glyphicon {
          position: absolute;
          left: -25px;
        }
      }
      &.nav-header {
        padding: 5px 0 5px 15px;
      }
      &.notifications {
        a span {
          font-size: 18px;
        }
      }
    }

    .nav-header {
      margin-bottom: 12px;
    }
  }

  .createMotion {
    position: absolute;
    top: -4px;
    right: -58px;
    display: block;
    width: 58px;
    height: 276px;
    background-image: url(../img/neuer-antrag.png);
  }

  .antragsgruenAd {
    margin-top: 30px;
    .content > div {
      text-align: center;
      margin-top: 15px;
    }
  }

  .nav-list.einsatzorte-list li {
    padding-left: 15px;
  }

  .search-query {
    width: 140px;
  }
}

ul.sidebarActions {
  @include linear-gradient(90deg, $farbe_magenta, rgb(234, 74, 161));
  padding: 7px 0 1px 21px;
  list-style-type: none;
  margin: -1px; // verhindert weißen Mini-Rahmen
  position: relative;
  @include border-radius(10px);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);

  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;

  li a, li > span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding-bottom: 10px;
    text-indent: -12px;
    margin: 7px 0 7px 15px;
  }

  li a:hover {
    color: rgb(246, 224, 235);
  }

  .icon {
    color: #fff;
    margin-right: 10px;
  }
}

.bdkMotionLististe {
  padding: 25px;
  font-family: "Open Sans", verdana, sans-serif;
  font-size: 14px;

  table {
    width: 100%;
  }
  th {
    border-bottom: solid 1px $farbe_hellgruen;
    font-size: 0.80em;
    line-height: 2.5em;
    font-weight: 600;
    font-family: "Open Sans", verdana, sans-serif;
  }
  td {
    font-family: "Open Sans", verdana, sans-serif;
    vertical-align: top;
    padding: 0.75em 0em 0.75em 0em;
  }
  tr.antrag {
    border-top: solid 1px $farbe_hellgruen;
    &:first-child {
      border-top: none;
    }
  }
  tr.aenderungsantrag {
    .titel {
      .pdflink {
        font-weight: 400;
      }
      .titellink {
        font-weight: 400;
      }
    }
  }
  .nummer {
    width: 20%;
  }
  .titel {
    width: 45%;

    .pdflink {
      font-size: 12px;
      font-weight: 600;
    }
    .titellink {
      font-weight: 600;
      a:link, a:visited {
        color: black;
      }
    }
  }
  .antragstellerIn {
    width: 35%;
  }
}

del {
  color: #880000;
}

ins {
  color: #008800;
}

.label {
  @extend label;
}

.antragstext_diff {
  padding: 15px 20px 25px 0;
  ul {
    margin-left: 45px;
    li {
      width: 480px;
    }
  }
}

#loginWurzelwerkHint {
  border-left: solid 1px #808080;
  padding-left: 10px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 0.8em;
  overflow: auto;
}

#loginWurzelwerkForgot {
  font-size: 0.8em;
  margin-top: -7px;
  display: inline-block;
  margin-bottom: 10px;
}

.motionEditForm {

  .submitHolder {
    text-align: right;
  }

  .form-horizontal .control-label {
    text-align: left;
  }
}

#motionConfirmedForm {
  .btnRow {
    padding: 15px;
    text-align: center;
  }
}