@charset "UTF-8";

@import "variables";

$OpenSansPath: "../fonts/OpenSans/fonts";
@import "../fonts/OpenSans/open-sans.scss";
$veraSansPath: "../fonts/BitstreamVeraSansMono";
@import "../fonts/BitstreamVeraSansMono/verasans";

$colorGreenDark: rgb(40, 95, 25);
$colorGreenLight: rgb(175, 203, 8);
$colorLinksLight: #6d7e00;
$colorLinks: #6d7e00;
$linkTextDecoration: none;
$colorDelLink: #FF7777;
$colorMagenta: rgb(226, 0, 122);
$brand-primary: $colorMagenta;
$text-color: rgb(72, 70, 73);
$btn-success-bg: #2c882c;

$headingFont: "Open Sans", sans-serif;
$headingPrimaryText: rgb(255, 255, 255);
$headingPrimaryBackground: rgb(40, 95, 25);
$headingSecondaryText: rgb(255, 255, 255);
$headingSecondaryBackground: rgb(175, 203, 8);
$headingTertiaryText: black;
$headingTertiaryBackground: rgb(27, 74, 251);

$menuFont: "Open Sans", sans-serif;
$menuLink: #6d7e00;
$menuActive: rgb(115, 115, 115);

$sidebarBackground: $colorMagenta;
$sidebarActionFont: "Open Sans", sans-serif;

$bookmarkAmendmentColor: $colorGreenLight;
$bookmarkCommentColor: $colorMagenta;

$bodyFont: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$deadlineCircleFont: "Open Sans", sans-serif;
$buttonFont: "Open Sans", sans-serif;
$motionFixedFont: 'VeraMono', Consolas, Courier, sans-serif;
$motionFixedFontColor: #222;
$motionFixedWidth: 740px;
$motionStdFontSize: 14px;
$inlineAmendmentPreambleHeight: 30px;
$inlineAmendmentPreambleColor: $colorMagenta;
$createMotionBtnColor: $colorMagenta;

@import "bootstrap";
@import "fontello";
@import "base_layout";
@import "motions";
@import "styles";
@import "sidebar";

html {
  background: url("../img/wallpaper.jpg") repeat scroll 0 0 transparent;
}
body {
  background: url("../img/backgroundGradient.png") repeat-x scroll 0 0 transparent;
}
