@charset "UTF-8";

@import "variables";

$arvoFontPath: "../fonts/gruenes-ci/";
@import "../fonts/gruenes-ci/arvo";
$ptSansFontPath: "../fonts/gruenes-ci/";
@import "../fonts/gruenes-ci/ptsans";

$colorGreenDark: rgb(40, 95, 25);
$colorGreenLight: rgb(175, 203, 8);
$colorLinksLight: #6d7e00;
$colorLinks: #6d7e00;
$linkTextDecoration: none;
$colorDelLink: #FF7777;
$colorMagenta: rgb(226, 0, 122);
$brand-primary: $colorMagenta;
$text-color: rgb(72, 70, 73);
$btn-success-bg: #2c882c;

$headingFont: "Arvo", sans-serif;
$headingPrimaryText: rgb(255, 255, 255);
$headingPrimaryBackground: rgb(40, 95, 25);
$headingSecondaryText: rgb(255, 255, 255);
$headingSecondaryBackground: rgb(175, 203, 8);
$headingTertiaryText: black;
$headingTertiaryBackground: rgb(27, 74, 251);

$menuFont: "Arvo", sans-serif;
$menuLink: #6d7e00;
$menuActive: rgb(115, 115, 115);

$sidebarBackground: $colorMagenta;
$sidebarActionFont: "Arvo", sans-serif;

$bookmarkAmendmentColor: $colorGreenLight;
$bookmarkCommentColor: $colorMagenta;

$bodyFont: "PT Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$deadlineCircleFont: "Arvo", sans-serif;
$sidebarActionFont: "Arvo", sans-serif;
$buttonFont: "Arvo", sans-serif;
$motionFixedFont: 'PT Sans', Courier, sans-serif;
$motionFixedFontColor: black;
$motionFixedWidth: 733px;
$motionStdFontSize: 16px;
$inlineAmendmentPreambleHeight: 35px;
$inlineAmendmentPreambleColor: $colorMagenta;
$createMotionBtnColor: $colorMagenta;

@import "bootstrap";
@import "fontello";
@import "base_layout";
@import "motions";
@import "styles";
@import "sidebar";

body {
  background-image: url(/img/gruenes_ci2_background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-attachment: fixed;
}

.well h1 {
  font-family: "Arvo Gruen", sans-serif;
  font-weight: normal;
}

.motionListStd .motion .title a {
  font-family: "Arvo", sans-serif;
}

#mainmenu {
  display: block;
  background: #0a321e;
  text-align: right;
  padding: 0.5em 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;

  .navbar {
    min-height: 36px;
    .nav li a {
      &, &:visited, &:link {
        color: white;
        font-family: $bodyFont;
        font-size: 16px;
        font-weight: normal;
        text-transform: none;
        line-height: 36px;
        vertical-align: middle;
      }
    }
  }

  .navbar-inner {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.row.logo {
  margin-bottom: 4em;
  position: relative;

  #logo {
    display: inline-block;
    width: 20%;
    z-index: 2;
    position: relative;
    margin-top: 0.5em;
  }

  .hgroup {
    display: inline-block;
    width: auto!important;
    text-align: right;
    z-index: 2;
    position: absolute;
    top: 43%;
    right: 0;
    border-top: 0.2em solid #fff;
    border-bottom: 0.2em solid #fff;
    padding: 0.5em 0;
  }
  a, a:link, a:visited {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  }
  h1, h2 {
    padding: 0 0 0 5px;
    margin: 0;
    line-height: 1em;
    display: block;
    text-align: right;
  }
  h1 {
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    text-transform: uppercase;
    font-family: 'Arvo Gruen','Arvo Regular', Trebuchet, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
    font-size: 40px;
  }

  h2 {
    text-align: right;
    margin-top: 0.5em;
    font-size: 18px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    color: #ffe000;
    font-family: 'Arvo Regular', 'Arvo Gruen', Trebuchet, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
  }
}