@charset "UTF-8";

@import "variables";

$arvoFontPath: "../fonts/gruenes-ci/";
@import "../fonts/gruenes-ci/arvo";
$ptSansFontPath: "../fonts/gruenes-ci/";
@import "../fonts/gruenes-ci/ptsans";

$colorGreenDark: rgb(40, 95, 25);
$colorGreenLight: rgb(175, 203, 8);
$colorLinksLight: #6d7e00;
$colorLinks: #6d7e00;
$linkTextDecoration: none;
$colorDelLink: #FF7777;
$colorMagenta: rgb(226, 0, 122);
$brand-primary: $colorMagenta;
$text-color: rgb(72, 70, 73);
$btn-success-bg: #2c882c;

$headingFont: "Arvo", sans-serif;
$headingPrimaryText: rgb(255, 255, 255);
$headingPrimaryBackground: rgb(40, 95, 25);
$headingSecondaryText: rgb(255, 255, 255);
$headingSecondaryBackground: rgb(175, 203, 8);
$headingTertiaryText: black;
$headingTertiaryBackground: rgb(27, 74, 251);

$menuFont: "Arvo", sans-serif;
$menuLink: #6d7e00;
$menuActive: rgb(115, 115, 115);

$sidebarBackground: $colorMagenta;
$sidebarActionFont: "Arvo", sans-serif;

$bookmarkAmendmentColor: $colorGreenLight;
$bookmarkCommentColor: $colorMagenta;

$bodyFont: "PT Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$deadlineCircleFont: "Arvo", sans-serif;
$sidebarActionFont: "Arvo", sans-serif;
$buttonFont: "Arvo", sans-serif;
$motionFixedFont: 'PT Sans', Courier, sans-serif;
$motionFixedFontColor: black;
$motionFixedWidth: 733px;
$motionStdFontSize: 16px;
$inlineAmendmentPreambleHeight: 35px;
$inlineAmendmentPreambleColor: $colorMagenta;
$createMotionBtnColor: $colorMagenta;

@import "bootstrap";
@import "fontello";
@import "base_layout";
@import "motions";
@import "styles";
@import "sidebar";

html {
  background: url("../img/wallpaper.jpg") repeat scroll 0 0 transparent;
}
body {
  background: url("../img/backgroundGradient.png") repeat-x scroll 0 0 transparent;
}

.well h1 {
  font-family: "Arvo Gruen", sans-serif;
  font-weight: normal;
}
.motionListStd .motion .title a  {
  font-family: "Arvo", sans-serif;
}