@charset "UTF-8";

@import "variables";

$firaSansFontPath: "../fonts/firasans/";
@import "../fonts/firasans/firasans";
$ptSansFontPath: "../fonts/gruenes-ci/";
@import "../fonts/gruenes-ci/ptsans";
$veraSansPath: "../fonts/BitstreamVeraSansMono";
@import "../fonts/BitstreamVeraSansMono/verasans";

$colorDarkGrey: rgb(64, 64, 64);
$colorMediumGrey: rgb(120, 120, 120);
$colorLightGrey: rgb(166, 166, 166);
$colorBlue: rgb(27, 74, 251);
$colorGreenDark: rgb(40, 95, 25);
$colorGreenLight: rgb(175, 203, 8);
$colorRed: rgb(221,11,24);
$colorGreen: green;
$colorLinksLight: $colorRed;
$colorLinks: $colorRed;
$linkTextDecoration: none;
$colorDelLink: $colorRed;
$colorMagenta: rgb(226, 0, 122);
$brand-primary: $colorRed;
$brand-success: $colorRed;
$text-color: rgb(72, 70, 73);
$btn-success-bg: $colorRed;

$headingFont: "FiraSans", sans-serif;
$headingPrimaryText: rgb(255, 255, 255);
$headingPrimaryBackground: $colorDarkGrey;
$headingSecondaryText: rgb(255, 255, 255);
$headingSecondaryBackground: $colorLightGrey;
$headingTertiaryText: black;
$headingTertiaryBackground: rgb(200, 200, 200);

$menuFont: "FiraSans", sans-serif;
$menuLink: rgb(141, 141, 141);
$menuActive: rgb(51, 51, 51);

$sidebarBackground: $colorRed;
$sidebarActionFont: "FiraSans", sans-serif;

$bookmarkAmendmentColor: $colorRed;
$bookmarkCommentColor: $colorGreen;

$bodyFont: "FiraSans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$deadlineCircleFont: "FiraSans", sans-serif;
$buttonFont: "FiraSans", sans-serif;

$motionFixedFont: 'VeraMono', Consolas, Courier, sans-serif;
$motionFixedFontColor: #222;
$motionFixedWidth: 740px;
$motionStdFontSize: 14px;
$inlineAmendmentPreambleHeight: 35px;
$inlineAmendmentPreambleColor: $colorRed;
$createMotionBtnColor: $colorRed;

@import "bootstrap";
@import "fontello";
@import "base_layout";
@import "motions";
@import "styles";
@import "sidebar";

.well h1 {
  font-family: "FiraSans", sans-serif;
  font-weight: normal;
}
.motionListStd .motion .title a  {
  font-family: "FiraSans", sans-serif;
}

html {
  background: #f5f5f5;
}
body {
  background: #f5f5f5
}

.adminMotionTable {
  tr.motion {
    .prefixCol, .titleCol {
      font-weight: bold;
    }
  }
}