@charset "UTF-8";

$colorGreenDark: rgb(40, 95, 25);
$colorGreenLight: rgb(175, 203, 8);
$colorLinksLight: #6d7e00;
$colorLinks: #6d7e00;
$linkTextDecoration: none;
$colorDelLink: #FF7777;
$colorMagenta: rgb(226, 0, 122);
$brand-primary: $colorMagenta;
$text-color: rgb(72, 70, 73);
$btn-success-bg: #2c882c;

$headingFont: sans-serif;
$headingPrimaryText: rgb(255, 255, 255);
$headingPrimaryBackground: rgb(40, 95, 25);
$headingSecondaryText: rgb(255, 255, 255);
$headingSecondaryBackground: rgb(175, 203, 8);
$headingTertiaryText: black;
$headingTertiaryBackground: rgb(27, 74, 251);

$menuFont: sans-serif;
$menuLink: #6d7e00;
$menuActive: rgb(115, 115, 115);

$sidebarBackground: $colorMagenta;
$sidebarActionFont: sans-serif;

$bookmarkAmendmentColor: $colorGreenLight;
$bookmarkCommentColor: $colorMagenta;

$bodyFont: Helvetica, Arial, sans-serif;
$deadlineCircleFont: sans-serif;
$buttonFont: sans-serif;
$motionFixedFont: Courier, sans-serif;
$motionFixedFontColor: #222;
$motionFixedWidth: 740px;
$motionStdFontSize: 14px;
$inlineAmendmentPreambleHeight: 30px;
$inlineAmendmentPreambleColor: $colorMagenta;
$createMotionBtnColor: $colorMagenta;

.entry-content {
  @import "bootstrap";
  @import "fontello";
  @import "motions";
  @import "styles";
}