@charset "UTF-8";

.siteCreate {
  .next {
    text-align: right;
  }
  .sitePreset {
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    margin-top: 30px;

    div {
      display: inline-block;
      vertical-align: middle;
    }
    input {
      vertical-align: middle;
      margin-top: 0;
      margin-right: 6px;
    }

  }
  .sitePresetInfo {
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-left: solid 3px lightgray;
  }
  .url .domain {
    font-size: 16px;
  }
  .url .domain input {
    width: 130px;
    padding: 0;
    margin-left: 2px;
    margin-top: 0;
  }
  .url .fakeurl {
    font-weight: normal;
  }
  label.name, label.url {
    font-weight: bold;
  }
  .payment label {
    display: inline;
  }

  .policy {
    margin-bottom: 20px;
  }

  .contact textarea {
    width: 300px;
    height: 80px;
  }

  label {
    display: block;
  }
}

.antragsgruenInitForm {
  .testDB {
    overflow: auto;
    margin-bottom: 20px;
    > * {
      float: left;
    }
    .testDBcaller {
      margin-right: 20px;
    }
    .testDBsuccess {
      padding-top: 7px;
      color: green;
      font-weight: bold;
    }
    .testDBerror {
      padding-top: 7px;
      color: red;
      font-weight: bold;
    }
  }
  .createTables {
    .alreadyCreatedHint {
      display: none;
      padding-left: 20px;
    }
    &.alreadyCreated {
      color: gray;
      .alreadyCreatedHint {
        display: block;
      }
    }
  }
  .sitePreset {
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    margin-top: 10px;

    div {
      display: inline-block;
      vertical-align: middle;
    }
    input {
      vertical-align: middle;
      margin-top: 0;
      margin-right: 6px;
    }

  }
  .sitePresetInfo {
    padding-left: 10px;
    margin-left: 20px;
    border-left: solid 3px lightgray;
  }
}

.infoSite {
  ul {
    margin-bottom: 25px;
    li {
      margin-top: 7px;
    }
  }
}

#sidebar {
  .current-uses-list.nav-list {
    > li {
      padding-left: 15px;
      padding-right: 5px;

      -webkit-hyphens: auto;
      word-break: break-word;
      -moz-hyphens: auto;
      hyphens: auto;
      overflow: hidden;

      span.orga {
        font-size: 0.9em;
        color: #767676;
        display: block;
      }
    }
  }
}

.paymentAdmin {
  table {
    width: 100%;
    td {
      vertical-align: top;
      padding-top: 10px;
      .organization {
        color: gray;
      }
    }
  }
}

/* New version */
.siteCreate {
  fieldset {
    > legend {
      border-bottom: none;
      margin-bottom: 0;
      text-align: center;
      font-size: 24px;
      padding-top: 30px;
    }
    > .description {
      text-align: center;
      font-style: italic;
    }
    .options {
      margin-top: 20px;
      text-align: center;
      vertical-align: top;
    }
    .radio-label {
      display: inline-block;
      width: 190px;
      height: 190px;
      border: solid 1px #999;
      vertical-align: top;
      cursor: pointer;
      margin: 20px;
      position: relative;
      padding: 10px 5px;
      border-radius: 10px;
      &.active {
        background-color: #9f9;
      }

      .title {
        display: block;
        font-size: 24px;
        &.long {
          font-size: 19px;
        }
      }
      .description {
        display: block;
        font-weight: normal;
        margin-top: 20px;
      }
      .input {
        display: block;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 20px;
        margin-left: -10px;
      }
    }
  }
  .navigation {
    margin-top: 20px;
    overflow: auto;
    padding-right: 100px;
    padding-left: 100px;

    .btn-prev {
      float: left;
    }
    .btn-next {
      float: right;
    }
  }

  .step-pane {
    &.active {

    }
    &.inactive {
      display: none;
    }
  }

  &.wording_manifesto .only-motion {
    display: none;
  }
  &.wording_motion .only-manifesto {
    display: none;
  }
}