@charset "UTF-8";

@import "variables";

.siteDescriptionPetition {
  text-transform: uppercase;
}

.memberPetitionHome {
  .orgaLink {
    color: white;
    text-transform: none;
    text-shadow: none;
    font-weight: normal;
    font-size: 0.8em;
  }
  .createRow {
    margin-top: 15px;
  }
}

.memberPetitionList {
  .stats {
    float: right;

    .comments {
      background-color: rgb(226, 0, 122);
    }
    .amendments {
      background-color: rgb(175, 203, 8);
    }
    .comments, .amendments {
      display: inline-block;
      padding: 3px 6px;
      margin-left: 10px;
      color: white;
      border-radius: 3px;
    }
  }
}