$arvoFontPath: './' !default;

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: normal;
  src: url($arvoFontPath + 'arvo_regular.eot');
  src: url($arvoFontPath + 'arvo_regular.eot?#iefix') format('embedded-opentype'),
  url($arvoFontPath + 'arvo_regular.woff') format('woff'),
  url($arvoFontPath + 'arvo_regular.ttf') format('truetype'),
  url($arvoFontPath + 'arvo_regular.svg#OpenSansLight') format('svg');
}
@font-face {
  font-family: 'Arvo Gruen';
  font-style: normal;
  font-weight: normal;
  src: url($arvoFontPath + 'arvo_gruen.eot');
  src: url($arvoFontPath + 'arvo_gruen.eot?#iefix') format('embedded-opentype'),
  url($arvoFontPath + 'arvo_gruen.woff') format('woff'),
  url($arvoFontPath + 'arvo_gruen.ttf') format('truetype');
}
