@charset "UTF-8";
/* Open Sans @font-face kit */
/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans/fonts/Light/OpenSans-Light.eot");
  src: url("../font/OpenSans/fonts/Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans/fonts/Light/OpenSans-Light.woff") format("woff"), url("../font/OpenSans/fonts/Light/OpenSans-Light.ttf") format("truetype"), url("../font/OpenSans/fonts/Light/OpenSans-Light.svg#OpenSansLight") format("svg");
  font-weight: 300;
  font-style: normal; }

/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans/fonts/LightItalic/OpenSans-LightItalic.eot");
  src: url("../font/OpenSans/fonts/LightItalic/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans/fonts/LightItalic/OpenSans-LightItalic.woff") format("woff"), url("../font/OpenSans/fonts/LightItalic/OpenSans-LightItalic.ttf") format("truetype"), url("../font/OpenSans/fonts/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans/fonts/Regular/OpenSans-Regular.eot");
  src: url("../font/OpenSans/fonts/Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans/fonts/Regular/OpenSans-Regular.woff") format("woff"), url("../font/OpenSans/fonts/Regular/OpenSans-Regular.ttf") format("truetype"), url("../font/OpenSans/fonts/Regular/OpenSans-Regular.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans/fonts/Italic/OpenSans-Italic.eot");
  src: url("../font/OpenSans/fonts/Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans/fonts/Italic/OpenSans-Italic.woff") format("woff"), url("../font/OpenSans/fonts/Italic/OpenSans-Italic.ttf") format("truetype"), url("../font/OpenSans/fonts/Italic/OpenSans-Italic.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: italic; }

/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans/fonts/Semibold/OpenSans-Semibold.eot");
  src: url("../font/OpenSans/fonts/Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans/fonts/Semibold/OpenSans-Semibold.woff") format("woff"), url("../font/OpenSans/fonts/Semibold/OpenSans-Semibold.ttf") format("truetype"), url("../font/OpenSans/fonts/Semibold/OpenSans-Semibold.svg#OpenSansSemibold") format("svg");
  font-weight: 600;
  font-style: normal; }

/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans/fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot");
  src: url("../font/OpenSans/fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans/fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff") format("woff"), url("../font/OpenSans/fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf") format("truetype"), url("../font/OpenSans/fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }

/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans/fonts/Bold/OpenSans-Bold.eot");
  src: url("../font/OpenSans/fonts/Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans/fonts/Bold/OpenSans-Bold.woff") format("woff"), url("../font/OpenSans/fonts/Bold/OpenSans-Bold.ttf") format("truetype"), url("../font/OpenSans/fonts/Bold/OpenSans-Bold.svg#OpenSansBold") format("svg");
  font-weight: bold;
  font-style: normal; }

/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans/fonts/BoldItalic/OpenSans-BoldItalic.eot");
  src: url("../font/OpenSans/fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans/fonts/BoldItalic/OpenSans-BoldItalic.woff") format("woff"), url("../font/OpenSans/fonts/BoldItalic/OpenSans-BoldItalic.ttf") format("truetype"), url("../font/OpenSans/fonts/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans/fonts/ExtraBold/OpenSans-ExtraBold.eot");
  src: url("../font/OpenSans/fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans/fonts/ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("../font/OpenSans/fonts/ExtraBold/OpenSans-ExtraBold.ttf") format("truetype"), url("../font/OpenSans/fonts/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold") format("svg");
  font-weight: 800;
  font-style: normal; }

/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot");
  src: url("../font/OpenSans/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../font/OpenSans/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("../font/OpenSans/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }

/* END Extrabold Italic */
.icon-comment, .lesezeichen > li.kommentare > a:before, #sidebar .neue-kommentare .komm:before {
  content: '\e718'; }

.icon-bell, #sidebar .neue-kommentare .benachrichtigung:before {
  content: '\1f514'; }

.icon-feed, .antragsliste .span9 .resolution .titel:before, #sidebar .neue-antraege .resolution:before, #sidebar .neue-kommentare .feed:before {
  content: '\e73a'; }

.icon-attachment, .antragsliste .aenderungsantraege li:before, #sidebar .neue-aenderungsantraege .aeantrag:before {
  content: '📎'; }

.icon-edit, .lesezeichen > li.aenderungsantrag > a:before, .icon-aender-stellen:before,
.antragsliste .antrag .titel .pdfLink:before,
#sidebar .neue-kommentare .pdf:before,
.icon-pdf:before,
ul.funktionen .download a:before {
  content: '\270d'; }

.icon-document, .antragsliste .antrag .titel:before, #sidebar .neue-antraege .antrag:before, ul.funktionen .unterstuetzen a:before {
  content: '\e731'; }

.icon-back, ul.funktionen .zurueck a:before {
  content: "←"; }

.icon-pdf, .antragsliste .antrag .titel .pdfLink:before, #sidebar .neue-kommentare .pdf:before, .icon-pdf:before, ul.funktionen .download a:before {
  content: '\e4a4'; }

.icon-plus, .icon-aender-stellen:before, ul.funktionen .aender-stellen a:before {
  content: '\2795'; }

/************************* BASICS *****************************/
* {
  margin: 0;
  padding: 0;
  border: none;
  text-align: left;
  border-collapse: collapse; }

html {
  background: url("../img/wallpaper.jpg") repeat scroll 0 0 transparent; }

body {
  background: url("../img/verlauf-back.png") repeat-x scroll 0 0 transparent;
  color: #484649;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px; }

body,
li {
  line-height: 18px; }

input[type="radio"], input[type="checkbox"] {
  margin: 0; }

form {
  margin: 0; }

blockquote {
  margin: 3px 3px 3px 15px;
  border-left: dotted 2px gray;
  padding: 5px; }

@font-face {
  font-family: 'icons_antragsgruen';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format("embedded-opentype"), url("../font/fontello.woff") format("woff"), url("../font/fontello.ttf") format("truetype"), url("../font/fontello.svg#icons_antragsgruen") format("svg");
  font-weight: normal;
  font-style: normal; }

p, ul {
  margin-bottom: 10px; }

a {
  color: #a2bc04; }
  a:hover {
    text-decoration: none;
    color: #c6d64e; }

/************************* LAYOUT **************************** */
.icon-down-open:before, .icon-up-open:before {
  font-family: icons_antragsgruen;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7; }

#page {
  min-height: 100%;
  position: relative;
  width: 972px; }

#page .row-fluid,
.content {
  margin-top: 10px; }

.well {
  padding: 0;
  position: relative;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  .well > :first-child {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px; }
    .well > :first-child .nav-header {
      -moz-border-radius-topleft: 10px;
      -webkit-border-top-left-radius: 10px;
      border-top-left-radius: 10px;
      -moz-border-radius-topright: 10px;
      -webkit-border-top-right-radius: 10px;
      border-top-right-radius: 10px; }
  .well > :last-child {
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  .well h1 {
    margin: 0;
    color: #fff;
    background: #0b2f08;
    background: -moz-linear-gradient(90deg, #0b2f08 0%, #285f19 100%);
    background: -webkit-linear-gradient(90deg, #0b2f08 0%, #285f19 100%);
    background: -o-linear-gradient(90deg, #0b2f08 0%, #285f19 100%);
    background: -ms-linear-gradient(90deg, #0b2f08 0%, #285f19 100%);
    background: linear-gradient(90deg, #0b2f08 0%, #285f19 100%);
    padding: 5px 20px 5px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    margin: -1px; }
  .well h2, .well h3, .well .nav-header {
    margin: 0;
    color: #fff;
    background: #afcb08;
    background: -moz-linear-gradient(90deg, #afcb08 0%, #b9d126 100%);
    background: -webkit-linear-gradient(90deg, #afcb08 0%, #b9d126 100%);
    background: -o-linear-gradient(90deg, #afcb08 0%, #b9d126 100%);
    background: -ms-linear-gradient(90deg, #afcb08 0%, #b9d126 100%);
    background: linear-gradient(90deg, #afcb08 0%, #b9d126 100%);
    padding: 5px 20px 5px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    margin: -1px; }
  .well .content {
    padding: 15px 20px 30px; }

.navbar {
  margin-bottom: 0; }
  .navbar .navbar-inner {
    background: none 0 0 transparent;
    filter: none;
    border: none;
    box-shadow: none;
    min-height: 0;
    padding: 0;
    text-align: right;
    margin-top: 10px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .navbar .nav {
    margin: 0;
    float: right; }
    .navbar .nav li a {
      display: inline;
      padding: 0;
      margin-left: 40px;
      color: #afcb08;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
      text-shadow: none; }
    .navbar .nav li.active a,
    .navbar .nav li a:hover,
    .navbar .nav li a:focus,
    .navbar .nav li.active a:hover,
    .navbar .nav li.active a:focus {
      background: none;
      filter: none;
      box-shadow: none;
      color: #285f19 !important; }

.logo {
  margin-top: 14px;
  display: block; }

.breadcrumb {
  background: none;
  filter: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  margin-top: 30px;
  padding: 0; }
  .breadcrumb, .breadcrumb .active {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    color: #737373; }
  .breadcrumb li {
    text-shadow: none; }
  .breadcrumb a {
    color: #afcb08; }

.span9,
.row-fluid .span9 {
  width: 715px; }

.span3,
.row-fluid .span3 {
  width: 230px;
  margin-left: 25px; }

/*
.span9 > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.span9 > .well:last-child {
  @include border-radius-bottom();
}
*/
.antragsschluss_kreis {
  float: right;
  width: 105px;
  height: 85px;
  padding-top: 20px;
  background: #e2007a;
  background: -moz-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  background: -webkit-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  background: -o-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  background: -ms-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  background: linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 40px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px; }

.antragsliste {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .antragsliste .antrag {
    padding: 12px 20px 17px 50px; }
    .antragsliste .antrag .datum {
      color: #b3b4b4;
      display: block;
      float: right;
      margin-left: 20px; }
    .antragsliste .antrag .titel {
      margin-bottom: 3px; }
      .antragsliste .antrag .titel:before {
        color: #A2BC04;
        display: inline-block;
        font-family: 'icons_antragsgruen';
        font-size: "20px";
        vertical-align: bottom;
        width: 20px;
        width: 30px;
        margin-left: -30px;
        color: #afcb08; }
      .antragsliste .antrag .titel a {
        color: #285f19;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        text-indent: 0;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto; }
        .antragsliste .antrag .titel a:hover, .antragsliste .antrag .titel a:focus {
          color: #497f37; }
      .antragsliste .antrag .titel .pdfLink {
        font-size: 13px;
        color: #a2bc04;
        margin-left: 10px;
        display: inline-block;
        font-weight: normal; }
        .antragsliste .antrag .titel .pdfLink:before {
          color: #A2BC04;
          display: inline-block;
          font-family: 'icons_antragsgruen';
          font-size: "14px";
          vertical-align: bottom;
          width: 20px;
          color: #afcb08;
          width: 16px; }
        .antragsliste .antrag .titel .pdfLink a:hover {
          text-decoration: none;
          color: #c6d64e; }
    .antragsliste .antrag .info {
      font-style: italic;
      color: #737373; }
  .antragsliste .aenderungsantraege {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .antragsliste .aenderungsantraege li {
      margin-bottom: 3px; }
      .antragsliste .aenderungsantraege li.zurueckgezogen {
        text-decoration: line-through; }
      .antragsliste .aenderungsantraege li:before {
        color: #A2BC04;
        display: inline-block;
        font-family: 'icons_antragsgruen';
        font-size: "15px";
        vertical-align: bottom;
        width: 20px;
        color: #A2BC04;
        width: 14px; }
      .antragsliste .aenderungsantraege li a {
        font-weight: bold;
        margin-right: 5px; }

.antrags_text_holder {
  font-size: 13px; }
  .antrags_text_holder.kleine_schrift {
    font-size: 12px; }
  .antrags_text_holder .text li {
    margin: 10px; }
  .antrags_text_holder .absatz_ueberspringen {
    margin: 10px;
    text-align: center; }
  .antrags_text_holder .antragstext_diff {
    font-family: 'Anonymous Pro', Consolas, Courier, sans-serif; }
  .antrags_text_holder .absatz_text {
    font-family: 'Anonymous Pro', Consolas, Courier, sans-serif;
    position: relative;
    margin-left: 0;
    padding: 15px 23px 25px 0; }
    .antrags_text_holder .absatz_text > .text {
      padding-left: 50px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .antrags_text_holder .absatz_text > blockquote.text {
      padding-left: 30px; }
    .antrags_text_holder .absatz_text ul, .antrags_text_holder .absatz_text ol {
      margin-left: 40px; }

.antrags_text_holder_nummern .text {
  padding-left: 30px; }
.antrags_text_holder_nummern .zeilennummer {
  color: #C3C3C3;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  left: -40px;
  position: relative;
  text-decoration: none;
  width: 0; }
.antrags_text_holder_nummern ul.text li .zeilennummer,
.antrags_text_holder_nummern ol.text li .zeilennummer {
  left: -90px; }
.antrags_text_holder_nummern blockquote.text {
  margin: 3px 3px 3px 60px;
  border-left: dotted 2px gray;
  padding: 5px; }
  .antrags_text_holder_nummern blockquote.text .zeilennummer {
    left: -80px; }

.antrags_text_holder_keinenummern blockquote.text {
  margin: 3px 3px 3px 80px;
  border-left: dotted 2px gray;
  padding: 5px; }
.antrags_text_holder_keinenummern .text {
  padding-left: 60px; }

.ae_text_holder {
  padding-left: 30px;
  padding-right: 20px; }

.lesezeichen {
  float: right;
  width: 1px;
  list-style-type: none; }
  .lesezeichen > li {
    width: 1px;
    height: 38px;
    position: relative;
    margin-bottom: 2px; }
    .lesezeichen > li > a {
      display: block;
      position: absolute;
      white-space: nowrap;
      padding: 10px;
      top: 0;
      left: 2px;
      color: #fff;
      min-width: 40px;
      -moz-border-radius-topright: 10px;
      -webkit-border-top-right-radius: 10px;
      border-top-right-radius: 10px;
      -moz-border-radius-bottomright: 10px;
      -webkit-border-bottom-right-radius: 10px;
      border-bottom-right-radius: 10px;
      font-weight: bold; }
      .lesezeichen > li > a:before {
        color: #A2BC04;
        display: inline-block;
        font-family: 'icons_antragsgruen';
        font-size: 15px;
        vertical-align: bottom;
        width: 20px;
        font-weight: bold;
        color: #fff; }
    .lesezeichen > li.kommentare > a {
      background: #e2007a;
      background: -moz-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
      background: -webkit-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
      background: -o-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
      background: -ms-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
      background: linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%); }
    .lesezeichen > li.aenderungsantrag > a {
      background: #afcb08;
      background: -moz-linear-gradient(90deg, #afcb08 0%, #b9d126 100%);
      background: -webkit-linear-gradient(90deg, #afcb08 0%, #b9d126 100%);
      background: -o-linear-gradient(90deg, #afcb08 0%, #b9d126 100%);
      background: -ms-linear-gradient(90deg, #afcb08 0%, #b9d126 100%);
      background: linear-gradient(90deg, #afcb08 0%, #b9d126 100%); }
    .lesezeichen > li .hider {
      background: #b4b4b4;
      background: -moz-linear-gradient(90deg, #b4b4b4 0%, gainsboro 100%);
      background: -webkit-linear-gradient(90deg, #b4b4b4 0%, gainsboro 100%);
      background: -o-linear-gradient(90deg, #b4b4b4 0%, gainsboro 100%);
      background: -ms-linear-gradient(90deg, #b4b4b4 0%, gainsboro 100%);
      background: linear-gradient(90deg, #b4b4b4 0%, gainsboro 100%); }
    .lesezeichen > li .shower {
      display: none; }

.kommentarform .kommentar_bottom {
  overflow: auto;
  margin-top: 15px; }
.kommentarform:hover .kommentar_bottom .kommentarlink {
  visibility: visible; }
.kommentarform .kommentarlink {
  visibility: hidden;
  float: right;
  margin-top: 5px; }
.kommentarform .row {
  overflow: auto;
  margin-top: 10px; }
  .kommentarform .row > * {
    float: left; }
  .kommentarform .row > label {
    width: 160px;
    text-align: right;
    padding-right: 20px; }
  .kommentarform .row .row textarea {
    width: 300px; }
  .kommentarform .row textarea {
    height: 100px; }
.kommentarform .submitrow {
  margin-left: 160px;
  width: 320px;
  text-align: center; }
.kommentarform .submitrow .btn-primary {
  margin: 0; }

.kommentar_unterstuetzerInnen_holder {
  float: left; }
  .kommentar_unterstuetzerInnen_holder .dafuer, .kommentar_unterstuetzerInnen_holder .dagegen {
    display: inline-block;
    border: solid 1px lightgray;
    margin: 1px;
    padding: 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .kommentar_unterstuetzerInnen_holder .dafuer span, .kommentar_unterstuetzerInnen_holder .dagegen span {
    color: lightgray; }
  .kommentar_unterstuetzerInnen_holder button.dafuer:hover {
    background-color: #A2BC04; }
  .kommentar_unterstuetzerInnen_holder button.dagegen:hover {
    background-color: red; }
  .kommentar_unterstuetzerInnen_holder button {
    background-color: transparent; }
  .kommentar_unterstuetzerInnen_holder .momentan {
    display: inline-block; }
  .kommentar_unterstuetzerInnen_holder .dochnicht {
    text-align: center;
    display: none; }
  .kommentar_unterstuetzerInnen_holder .meine {
    display: inline-block;
    height: 20px;
    width: 240px;
    position: relative; }
  .kommentar_unterstuetzerInnen_holder .meine:hover .dochnicht {
    display: inline-block; }
  .kommentar_unterstuetzerInnen_holder .meine:hover .momentan {
    display: none; }
  .kommentar_unterstuetzerInnen_holder .momentan, .kommentar_unterstuetzerInnen_holder .dochnicht {
    position: absolute;
    top: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
    font-size: 10px;
    height: 20px;
    width: 240px;
    border: solid 1px gray;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #eee; }

.kommentarform {
  padding: 12px 20px 25px; }
  .kommentarform h3 {
    background: none;
    color: #a2bc04;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 5px 0;
    text-transform: none;
    padding: 0; }
  .kommentarform .datum {
    color: #B3B4B4;
    float: right;
    margin-left: 20px; }
  .kommentarform .del_link {
    float: right;
    margin-left: 20px; }
    .kommentarform .del_link a {
      color: #ccc;
      display: block;
      font-family: 'icons_antragsgruen';
      font-size: 12px;
      vertical-align: bottom; }
      .kommentarform .del_link a:hover, .kommentarform .del_link a:focus {
        color: #bbb; }

.saveholder {
  text-align: center;
  margin-bottom: 20px; }

legend, label.legend {
  display: block;
  border: none;
  color: #285f19;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  margin: 0 0 5px 0; }

label.legend {
  margin-top: 15px; }

.form-horizontal .text_full_width .controls {
  margin: 0; }

.control-group {
  margin-bottom: 10px;
  margin-top: 10px; }

.control-label {
  width: 100px;
  font-size: 13px;
  float: left;
  text-align: right;
  padding-top: 5px; }

fieldset.antragstellerIn label.radio {
  display: inline-block; }

#UnterstuetzerInnen .unterstuetzerInnen_adder {
  text-align: center; }

.policy_antragstellerIn_orga_5 #UnterstuetzerInnen input[type=text] {
  display: inline-block; }

/*
.controls {
    margin-left: 118px;
}
*/
#veranstaltung-form label, #person-form label, #antrag-kommentar-form label, #aenderungsantrag-kommentar-form label, #texte-form label {
  display: inline-block;
  width: 220px;
  vertical-align: top; }

.search-form label {
  display: inline-block;
  width: 220px;
  vertical-align: top; }

#veranstaltung-form input[type=text], #veranstaltung-form select, #veranstaltung-form textarea {
  margin-bottom: 0;
  margin-top: 10px; }
#veranstaltung-form .std_content_col {
  display: inline-block;
  width: 440px; }

#antrag-form label, #aenderungsantrag-form label {
  display: inline-block;
  width: 180px;
  vertical-align: top; }
#antrag-form input, #aenderungsantrag-form input {
  display: inline-block; }
#antrag-form input[type=text], #antrag-form select, #antrag-form textarea, #aenderungsantrag-form input[type=text], #aenderungsantrag-form select, #aenderungsantrag-form textarea {
  margin-bottom: 0;
  margin-top: 10px; }

.form-actions {
  background: #f6f6f6;
  background: -moz-linear-gradient(90deg, #f6f6f6 25%, white 100%);
  background: -webkit-linear-gradient(90deg, #f6f6f6 25%, white 100%);
  background: -o-linear-gradient(90deg, #f6f6f6 25%, white 100%);
  background: -ms-linear-gradient(90deg, #f6f6f6 25%, white 100%);
  background: linear-gradient(90deg, #f6f6f6 25%, white 100%);
  margin: 0;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  padding: 15px 20px 50px; }

.btn-primary {
  border: none;
  text-shadow: none;
  color: #fff;
  background: #e2007a;
  background: -moz-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  background: -webkit-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  background: -o-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  background: -ms-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  background: linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  padding: 6px 30px 4px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase; }
  .span9 .btn-primary {
    margin: 10px 0 0 200px; }

.ae_select_confirm {
  text-align: center; }

h3 label {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  color: inherit;
  font-family: inherit;
  margin: 0; }

.ae_absatzwahl_modus.aenderungen_moeglich .antragabsatz_holder .text:hover {
  background-color: #eee;
  cursor: pointer; }

.cke_skin_kama {
  border: none !important; }

#sidebar .nav-list {
  padding: 0;
  margin-bottom: 20px; }
  #sidebar .nav-list > li {
    padding: 0 20px 10px 38px; }
    #sidebar .nav-list > li a, #sidebar .nav-list > li a:hover, #sidebar .nav-list > li a:focus {
      padding: 0px;
      background: none;
      filter: none;
      margin: 0;
      text-shadow: none;
      display: inline; }
    #sidebar .nav-list > li.nav-header {
      padding: 5px 20px 5px; }
  #sidebar .nav-list .nav-header {
    margin-bottom: 12px; }
#sidebar .neue-antraege .antrag:before {
  color: #A2BC04;
  display: inline-block;
  font-family: 'icons_antragsgruen';
  font-size: 15px;
  vertical-align: bottom;
  width: 20px;
  color: #A2BC04;
  margin-left: -20px; }
#sidebar .neue-antraege .resolution:before {
  color: #A2BC04;
  display: inline-block;
  font-family: 'icons_antragsgruen';
  font-size: 15px;
  vertical-align: bottom;
  width: 20px;
  color: #A2BC04;
  margin-left: -20px; }
#sidebar .neue-aenderungsantraege .aeantrag:before {
  color: #A2BC04;
  display: inline-block;
  font-family: 'icons_antragsgruen';
  font-size: 15px;
  vertical-align: bottom;
  width: 20px;
  color: #A2BC04;
  margin-left: -20px; }
#sidebar .neue-kommentare .komm:before {
  color: #A2BC04;
  display: inline-block;
  font-family: 'icons_antragsgruen';
  font-size: 15px;
  vertical-align: bottom;
  width: 20px;
  color: #A2BC04;
  margin-left: -20px; }
#sidebar .neue-kommentare .komm strong {
  font-weight: normal;
  font-style: italic; }
#sidebar .neue-kommentare .feed:before {
  color: #A2BC04;
  display: inline-block;
  font-family: 'icons_antragsgruen';
  font-size: 15px;
  vertical-align: bottom;
  width: 20px;
  color: #A2BC04;
  margin-left: -20px; }
#sidebar .neue-kommentare .benachrichtigung:before {
  color: #A2BC04;
  display: inline-block;
  font-family: 'icons_antragsgruen';
  font-size: 15px;
  vertical-align: bottom;
  width: 20px;
  color: #A2BC04;
  margin-left: -20px; }
#sidebar .neue-kommentare .pdf:before {
  color: #A2BC04;
  display: inline-block;
  font-family: 'icons_antragsgruen';
  font-size: 15px;
  vertical-align: bottom;
  width: 20px;
  color: #A2BC04;
  margin-left: -20px; }
#sidebar .neuer-antrag {
  position: absolute;
  top: -4px;
  right: -58px;
  display: block;
  width: 58px;
  height: 276px;
  background-image: url(../img/neuer-antrag.png); }
#sidebar .antragsgruen_werbung {
  margin-top: 30px; }
#sidebar .nav-list.einsatzorte-list li {
  padding-left: 15px; }
#sidebar .search-query {
  width: 140px; }

.icon-aender-stellen:before,
.antragsliste .antrag .titel .pdfLink:before,
#sidebar .neue-kommentare .pdf:before,
.icon-pdf:before,
ul.funktionen .download a:before {
  color: #A2BC04;
  display: inline-block;
  font-family: 'icons_antragsgruen';
  font-size: 15px;
  vertical-align: bottom;
  width: 20px;
  width: 24px;
  /*
  color: #fff;
  margin-left: 0;
  */ }

.btn .antragsliste .antrag .titel .pdfLink:before, .antragsliste .antrag .titel .btn .pdfLink:before, .btn #sidebar .neue-kommentare .pdf:before, #sidebar .neue-kommentare .btn .pdf:before, .btn .icon-pdf:before, .btn ul.funktionen .download a:before, ul.funktionen .download .btn a:before {
  color: #000000; }

ul.funktionen {
  background: #e2007a;
  background: -moz-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  background: -webkit-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  background: -o-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  background: -ms-linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  background: linear-gradient(90deg, #e2007a 0%, #ea4aa1 100%);
  padding: 20px 0 21px 41px;
  list-style-type: none;
  margin: -1px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }
  ul.funktionen li a, ul.funktionen li > span {
    display: block;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding-bottom: 10px; }
  ul.funktionen li a:hover {
    color: #f6e0eb; }
  ul.funktionen .unterstuetzen a:before {
    color: #A2BC04;
    display: inline-block;
    font-family: 'icons_antragsgruen';
    font-size: 15px;
    vertical-align: bottom;
    width: 20px;
    width: 24px;
    margin-left: -24px;
    color: #fff; }
  ul.funktionen .zurueck a:before {
    color: #A2BC04;
    display: inline-block;
    font-family: 'icons_antragsgruen';
    font-size: 15px;
    vertical-align: bottom;
    width: 20px;
    width: 24px;
    margin-left: -24px;
    color: #fff; }
  ul.funktionen .download a:before {
    color: #A2BC04;
    display: inline-block;
    font-family: 'icons_antragsgruen';
    font-size: 15px;
    vertical-align: bottom;
    width: 20px;
    width: 24px;
    margin-left: -24px;
    color: #fff; }
  ul.funktionen .aender-stellen a:before {
    color: #A2BC04;
    display: inline-block;
    font-family: 'icons_antragsgruen';
    font-size: 15px;
    vertical-align: bottom;
    width: 20px;
    width: 24px;
    margin-left: -24px;
    color: #fff; }

.footer_bar {
  clear: both;
  width: 970px;
  margin-bottom: 70px;
  margin-top: 20px; }
  .footer_bar .brand {
    display: none; }
  .footer_bar .navbar-inner {
    text-align: left; }

.clear {
  clear: both; }

/**************************** ALT ***************************** */
.row {
  overflow: auto; }

.unterstuetzerInnenwidget_adder {
  border: dotted 1px gray; }
  .unterstuetzerInnenwidget_adder .person_selector {
    width: 240px;
    margin-right: 10px; }
  .unterstuetzerInnenwidget_adder .unterstuetzerIn_neu_holder input {
    border: solid 1px gray; }

.unterstuetzerInnenwidget .sort_handle {
  cursor: move; }

.antragsdaten th {
  text-align: left;
  padding-right: 10px; }

table.view {
  border: dotted 1px gray;
  border-spacing: 0; }
  table.view > tbody > tr > td, table.view > tbody > tr > th {
    padding: 2px; }
  table.view > tbody > tr > td {
    width: 75%; }

.list-view .items .empty {
  padding: 25px;
  display: block;
  font-style: italic; }

del {
  color: #880000; }

ins {
  color: #008800; }

.antragstext_diff {
  padding: 15px 20px 25px 0; }
  .antragstext_diff ul {
    margin-left: 45px; }
    .antragstext_diff ul li {
      width: 480px; }

.unterstuetzerIn label input {
  display: inline-block; }

.form input[type=text], .form label.legend {
  display: block; }
.form .radio {
  min-width: 140px; }
.form label {
  display: inline-block; }

#aenderungsantrag-form textarea, #texte-form textarea {
  width: 400px; }

#aenderungsantrag-form textarea {
  height: 150px; }

#texte-form textarea {
  height: 400px; }

#aenderungsantrag-form select, #antrag-form select, #texte-form input, #texte-form select {
  width: 405px; }

#Antrag_status_string, #antrag-form select#Antrag_status {
  width: 200px; }

#aenderungsantrag-form #Aenderungsantrag_status, #aenderungsantrag-form #Aenderungsantrag_status_string {
  width: 200px; }

#aenderungsantrag-form .unterstuetzerInnenwidget select, #antrag-form .unterstuetzerInnenwidget select {
  width: 200px; }

.js_protection_hint {
  width: 90%;
  background-color: #f08080;
  border: solid 1px red;
  margin: 15px;
  padding: 5px; }

.admin_todo {
  float: right;
  width: 300px; }
  .admin_todo ul {
    margin-top: 10px;
    font-size: 14px; }

#instanz-anlegen-form .weiter {
  text-align: right; }
#instanz-anlegen-form .einsatzzweck {
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 30px; }
  #instanz-anlegen-form .einsatzzweck div {
    display: inline-block;
    vertical-align: middle; }
  #instanz-anlegen-form .einsatzzweck input {
    vertical-align: middle; }
#instanz-anlegen-form .einsatzzweck_erkl {
  padding-left: 10px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-left: solid 3px lightgray; }
#instanz-anlegen-form .url .domain {
  font-size: 16px; }
#instanz-anlegen-form .url .domain input {
  width: 130px;
  padding: 0;
  margin-left: 2px;
  margin-top: 0; }
#instanz-anlegen-form label.name, #instanz-anlegen-form label.url {
  font-weight: bold; }
#instanz-anlegen-form .zahlung label {
  display: inline; }
#instanz-anlegen-form .kontakt textarea {
  width: 300px;
  height: 80px; }

#ae_status_setter .ae {
  display: inline-block;
  width: 40px; }

/**************************** RESPONSIVE ***************************** */
.visible-phone {
  display: none !important; }

.visible-tablet {
  display: none !important; }

.hidden-desktop {
  display: none !important; }

.visible-desktop {
  display: inherit !important; }

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important; }

  .visible-desktop {
    display: none !important; }

  .visible-tablet {
    display: inherit !important; }

  .hidden-tablet {
    display: none !important; } }
@media screen and (max-width: 979px) {
  h3, h2, .span3 .well .nav-list .nav-header {
    padding: 6px 10px 4px; }

  #page, .footer_bar {
    width: 760px; }

  .shrink_cols .span9, .shrink_cols .row-fluid .span9 {
    width: 550px; }

  .shrink_cols .span3, .shrink_cols .row-fluid .span3 {
    width: 190px;
    margin-left: 15px; }

  .shrink_cols .span3 .search-query {
    width: 110px; }

  .text_comments .span9, .text_comments .row-fluid .span9 {
    width: 695px; } }
@media screen and (max-width: 767px) {
  .hidden-phone {
    display: none !important; }

  .visible-phone {
    display: inherit !important; }

  .visible-tablet {
    display: none !important; }

  .visible-desktop {
    display: none !important; }

  #page, .footer_bar {
    width: 95%; }

  #page > div > div.span9 {
    width: 100%;
    display: block;
    margin: 0 auto 0;
    float: none; }

  #page > div > div.span3 {
    width: 100%;
    display: block;
    margin: 20px auto 0;
    float: none; }

  #mainmenu .form-search {
    float: right; }

  #mainmenu .form-search input[type=search] {
    width: 50px; }

  #mainmenu ul.nav {
    padding-top: 7px;
    position: absolute;
    margin-right: 120px; }

  .navbar .nav li a {
    margin-left: 20px; }

  .navbar .nav li.active a, .navbar .nav li a:hover, .navbar .nav li a:focus, .navbar .nav li.active a:hover, .navbar .nav li.active a:focus {
    margin-left: 20px; }

  body.text_comments #page {
    margin-left: 10px;
    margin-right: 40px;
    width: auto; }

  .absatz_text .text > br.implicit {
    display: none; }

  .antrags_text_holder_nummern .zeilennummer {
    margin-right: -20px; }

  .kommentare .shower:before, .kommentare .hider:before, .aenders a:before {
    width: 17px; }

  .kommentare .shower, .kommentare .hider {
    font-size: 12px;
    padding-left: 2px; }

  .aenders {
    font-size: 12px;
    padding-left: 0; }

  .aenders, .kommentare {
    width: 40px;
    right: -40px; }

  .aenders a {
    padding-left: 2px; }

  .antragabsatz_holder.orig {
    padding-right: 5px; }

  .well .content, .antragabsatz_holder, #cke_ae_begruendung {
    padding-left: 0;
    padding-right: 5px; }

  .antrags_text_holder .absatz_text ul, .antrags_text_holder .absatz_text ol {
    margin-left: 15px; }

  .kommentarform {
    padding: 12px 0 25px; }

  .form-horizontal .control-label {
    float: none;
    width: auto;
    text-align: left; }

  .form-horizontal .controls {
    float: none;
    width: auto;
    margin: 0; }

  .span9 .btn-primary {
    margin: 0; } }
@media screen and (max-width: 500px) {
  #page, .footer_bar {
    width: auto;
    margin-left: 10px;
    margin-right: 10px; }

  .logo {
    text-align: center; }

  .logo img {
    width: 188.5px;
    height: 27.5px; }

  .antrags_text_holder_nummern .text {
    padding-left: 10px; }

  .antrags_text_holder_nummern .text br.implicit {
    display: none; }

  .antrags_text_holder_nummern .zeilennummer {
    display: none; }

  #socialshareprivacy {
    display: none; } }
@media screen and (max-width: 450px) {
  .navbar .nav li a {
    font-size: 16px; }

  .navbar .nav li a {
    margin-left: 10px; }

  .navbar .nav li.active a, .navbar .nav li a:hover, .navbar .nav li a:focus, .navbar .nav li.active a:hover, .navbar .nav li.active a:focus {
    margin-left: 10px; }

  .navbar .nav li:first-child a {
    margin-left: 0; }

  .span9 .antrag .datum {
    display: none; } }
